﻿
@{
    Layout = "~/Views/Shared/MainPageAdmin.cshtml";
}

    <div class="chat-lk">

        <div class="header-chat-lk">

            <button id="btn-contacts-lk" class="button-action-chat">

                <i class="fa fa-user" aria-hidden="true"></i>

            </button>

            <div class="wrapper-search-lk">

                <input autocomplete="off" type="text" />

                <button id="search-users-lk" class="button-search-lk">

                    <i class="fa fa-search" aria-hidden="true"></i>

                </button>

                <button id="open-settings-lk" class="button-settings-lk">

                    <i class="fa fa-sliders" aria-hidden="true"></i>

                </button>

            </div>

        </div>

        <div class="body-chat-lk">

            <div id="settings-lk" class="settings-search">

                <div class="name-categories">

                    <span>Поиск по категориям</span>

                    <button id="close-categories-lk" class="close-search-categories">

                        <i class="fa fa-times" aria-hidden="true"></i>

                    </button>

                </div>

                <div class="box-categories">

                    <span>Администраторы</span>

                    <label class="switch">

                        <input type="checkbox">

                        <span class="slider round"></span>

                    </label>

                </div>

                <div class="box-categories">

                    <span>Операторы</span>

                    <label class="switch">

                        <input type="checkbox">

                        <span class="slider round"></span>

                    </label>

                </div>

                <div class="box-categories">

                    <span>Техники</span>

                    <label class="switch">

                        <input type="checkbox">

                        <span class="slider round"></span>

                    </label>

                </div>

                <div class="box-categories">

                    <span>Все</span>

                    <label class="switch">

                        <input type="checkbox">

                        <span class="slider round"></span>

                    </label>

                </div>

            </div>

            <div id="contacts-lk" class="contacts">

                <div class="container-user">

                    <div class="icon-user">



                    </div>

                    <div class="fio-user">

                        <span>ДубровскийХуевский Д. Д.</span>

                    </div>

                    <button class="action">

                        <i class="fa fa-trash" aria-hidden="true"></i>

                    </button>

                    <button class="action">

                        <i class="fa fa-comment-o" aria-hidden="true"></i>

                    </button>

                </div>


            </div>

            <div id="search-lk" class="search-users">

                <div class="container-search-user">

                    <div class="icon-user">



                    </div>

                    <div class="fio-user">

                        <span>БрабажданскийХуевский Д. Д.</span>

                    </div>

                    <button class="action">

                        <i class="fa fa-plus" aria-hidden="true"></i>

                    </button>

                </div>

            </div>

            <div id="box-chat" class="user-chat">

                <div class="message-style buddy-message">

                    <span>Здравствуйте, скажите, пожалуйста, почему у меня моргает маленькая зеленая лампочка на приборе, где написано :"АКБ"?</span>

                </div>

                <div class="message-style my-message">

                    <span>Здравствуйте. Каким цветом моргает?</span>

                </div>

                <div class="message-style buddy-message">

                    <span>Красным</span>

                </div>

                <div class="message-style my-message">

                    <span>Как давно?</span>

                </div>

                <div class="message-style buddy-message">

                    <span>Больше недели</span>

                </div>

                <div class="message-style my-message">

                    <span>Это говорит о пиниженном питании от блока питания. Скорее всего сам блок питания выходит из строя. Нужно проверять на месте, под нагрузкой</span>

                </div>

                <div class="message-style buddy-message">

                    <span>Вы бы могли направить мне электрика?</span>

                </div>

                <div class="message-style my-message">

                    <span>Да, коненчно</span>

                </div>

            </div>

        </div>

        <div class="footer-chat-lk">

            <div class="wrapper-textarea-lk">

                <textarea rows="2" maxlength="999" autocomplete="off" id="" class="" type="text"></textarea>
                <label id="label-app-descript" class="label-textarea" for="app-text-descript">Введите текст</label>

            </div>

            <button id="send-message" class="button-send">

                <i class="fa fa-paper-plane" aria-hidden="true"></i>

            </button>

        </div>

    </div>

