﻿
@{
    Layout = "~/Views/Shared/MainPageAdmin.cshtml";
}

    <div class="box-firma">

        <div class="tabs">

            <input type="radio" name="rbtn" checked value="1" id="tabs-add-firma" /><label for="tabs-add-firma" class="label-tabs">Добавить</label>

            <input type="radio" name="rbtn" value="2" id="tabs-edit-firma" /><label for="tabs-edit-firma" class="label-tabs">Редактировать</label>

            <input type="radio" name="rbtn" value="3" id="tabs-delete-firma" /><label for="tabs-delete-firma" class="label-tabs">Удалить</label>

            <div class="tabs-content-1">

                <form action="#" method="post">

                    <div class="wrapper-input">

                        <input autocomplete="off" id="name-firma" class="" type="text" />
                        <label id="label-name-firma" class="label-input" for="name-firma">Наименование</label>


                    </div>

                    <div class="wrapper-select">

                        <select id="street-firma" class="">

                            <option value="0"></option>

                        </select>

                        <label id="label-street-firma" class="label-select" for="street-firma">Улица</label>

                    </div>

                    <div class="wrapper-input">

                        <input autocomplete="off" id="house-firma" class="" type="text" />
                        <label id="label-house-firma" class="label-input" for="house-firma">Номер дома (и корпуса)</label>


                    </div>

                    <div class="wrapper-input">

                        <input autocomplete="off" id="tel-firma" class="" type="text" />
                        <label id="label-tel-firma" class="label-input" for="tel-firma">Телефон</label>


                    </div>

                    <div class="wrapper-input">

                        <input autocomplete="off" id="email-firma" class="" type="text" />
                        <label id="label-email-firma" class="label-input" for="email-firma">Email</label>


                    </div>

                    <div class="wrapper-button">

                        <button id="btn-conf-create-firma" class="button-admin-style">

                            <i class="fa fa-plus" aria-hidden="true"></i>

                        </button>

                    </div>

                </form>

            </div>

            <div class="tabs-content-2">

                <div class="left-container">

                    <div class="box-search">

                        <form action="#" method="get">

                            <input id="search-firma-edit" class="input-search" type="text" />

                            <button id="btn-search-edit-firma" class="button-search-style"><i class="fa fa-search" aria-hidden="true"></i></button>

                        </form>

                    </div>

                    <div class="box-table">

                        <table class="table-style">

                            <tbody id="tbody-edit-firma" class="tbody-style">

                                <tr id="tr-edit-1">

                                    <td>ООО Рога и копыта jvyvkuyvkuyvk ouyvguyg</td>
                                    <td>ул.В.Интернационалистов, 15-87</td>

                                </tr>

                            </tbody>

                        </table>

                    </div>

                </div>

                <div class="right-container">

                    <form action="#" method="post">

                        <div class="wrapper-input">

                            <input autocomplete="off" id="e-name-firma" class="" type="text" />
                            <label id="label-e-name-firma" class="label-input" for="e-name-firma">Наименование</label>


                        </div>

                        <div class="wrapper-select">

                            <select id="e-street-firma" class="">

                                <option value="0"></option>

                            </select>

                            <label id="label-e-street-firma" class="label-select" for="e-street-firma">Улица</label>

                        </div>

                        <div class="wrapper-input">

                            <input autocomplete="off" id="e-house-firma" class="" type="text" />
                            <label id="label-e-haouse-firma" class="label-input" for="e-house-firma">Номер дома (и корпуса)</label>


                        </div>

                        <div class="wrapper-input">

                            <input autocomplete="off" id="e-tel-firma" class="" type="text" />
                            <label id="label-e-tel-firma" class="label-input" for="e-tel-firma">Телефон</label>


                        </div>

                        <div class="wrapper-input">

                            <input autocomplete="off" id="e-post-firma" class="" type="text" />
                            <label id="label-e-post-firma" class="label-input" for="e-post-firma">Email</label>


                        </div>

                        <div class="wrapper-button">

                            <button id="btn-conf-edit-firma" class="button-admin-style">

                                <i class="fa fa-pencil" aria-hidden="true"></i>

                            </button>

                        </div>

                    </form>

                </div>

            </div>

            <div class="tabs-content-3">

                <div class="left-container">

                    <div class="box-search">

                        <form action="#" method="get">

                            <input id="search-firma-drop" class="input-search" type="text" />

                            <button id="btn-search-delete-firma" class="button-search-style"><i class="fa fa-search" aria-hidden="true"></i></button>

                        </form>

                    </div>

                    <div class="box-table">

                        <table class="table-style">

                            <tbody id="tbody-delete-firma" class="tbody-style">

                                <tr>

                                    <td>ООО Рога и копытаwefwefwefwefwefew wfefewf wfefewfewfewfewf</td>
                                    <td>ул. В.Интернационалистов, 15-87</td>
                                    <td>

                                        <input class="checkbox-style" type="checkbox" />

                                    </td>

                                </tr>

                                <tr>

                                    <td>ОАО Хуйня</td>
                                    <td>ул. В.Интернационалистов, 15-87</td>
                                    <td>

                                        <input class="checkbox-style" type="checkbox" />

                                    </td>

                                </tr>

                            </tbody>

                        </table>

                    </div>

                </div>

                <div class="right-container">

                    <span>Удалить выбранный(-е) объект(-ы)?</span>

                    <div class="wrapper-button">

                        <button id="btn-conf-delete-firma" class="button-admin-style">

                            <i class="fa fa-trash" aria-hidden="true"></i>

                        </button>

                    </div>

                </div>

            </div>

        </div>

    </div>

