﻿
@{
    Layout = "~/Views/Shared/MainPageAdmin.cshtml";
}

    <div class="line-flex">

        <div id="info-user" class="container-info">

            <div class="info-circle circle-users">



            </div>

            <span id="count-users" class="count-user">999</span>

        </div>

        <div id="info-operator" class="container-info">

            <div class="info-circle circle-support">



            </div>

            <span id="count-support" class="count-user">999</span>

        </div>

        <div id="info-tech" class="container-info">

            <div class="info-circle circle-worker">



            </div>

            <span id="count-worker" class="count-user">999</span>

        </div>

    </div>

    <div class="line-flex">

        <div class="container-info-tech">

            <div class="header-container-info">

                <span>Техники он-лайн</span>

            </div>

            <div class="body-container-info">

                <div class="container-list-tech">

                    <table class="table-style">

                        <tbody class="tbody-style">

                            <tr>

                                <td>ИвановскийХуёвскийТраляля</td>

                            </tr>

                            <tr>

                                <td>ИвановскийХуёвскийТраляля</td>

                            </tr>

                            <tr>

                                <td>ИвановскийХуёвскийТраляля</td>

                            </tr>

                            <tr>

                                <td>ИвановскийХуёвскийТраляля</td>

                            </tr>
                            <tr>

                                <td>ИвановскийХуёвскийТраляля</td>

                            </tr>

                            <tr>

                                <td>ИвановскийХуёвскийТраляля</td>

                            </tr>

                            <tr>

                                <td>ИвановскийХуёвскийТраляля</td>

                            </tr>

                        </tbody>

                    </table>

                </div>

            </div>

        </div>


        <div class="container-info-app">

            <div class="header-container-info">

                <span>Заявки за день</span>

            </div>

            <div class="body-container-info">

                <span class="line-app">Всего: </span>

                <span class="line-app">В работе: </span>

                <span class="line-app" >Выполненные: </span>

                <span class="line-app">От клиентов: </span>

            </div>

        </div>

    </div>

    <div class="line-flex">

        <div class="container-graf">

            <div class="header-container-info">

                <span>Статистика</span>

            </div>

            <div class="body-container-info">



            </div>

        </div>

    </div>

