﻿
@{
    Layout = "~/Views/Shared/MainPageAdmin.cshtml";
}

    <div class="box-street">

        <div class="tabs">

            <input type="radio" name="rbtn" checked value="1" id="tabs-add-net" /><label for="tabs-add-net" class="label-tabs">Добавить</label>

            <input type="radio" name="rbtn" value="2" id="tabs-edit-net" /><label for="tabs-edit-net" class="label-tabs">Редактировать</label>

            <div class="tabs-content-1">

                <form action="#" method="post">

                    <div class="wrapper-input">

                        <input autocomplete="off" id="ip-address" class="" type="text" />
                        <label id="label-ip-address" class="label-input" for="ip-address">Адрес</label>

                    </div>

                    <div class="wrapper-input">

                        <input autocomplete="off" id="ip-submask" class="" type="text" />
                        <label id="label-ip-submask" class="label-input" for="ip-submask">Маска подсети</label>

                    </div>

                    <div class="wrapper-input">

                        <input autocomplete="off" id="ip-geteway" class="" type="text" />
                        <label id="label-ip-gateway" class="label-input" for="ip-gateway">Шлюз</label>

                    </div>

                    <div class="wrapper-button">

                        <button id="btn-conf-create-net" class="button-admin-style">

                            <i class="fa fa-plus" aria-hidden="true"></i>

                        </button>

                    </div>

                </form>

            </div>

            <div class="tabs-content-2">

                <div class="left-container">

                    <div class="box-search">

                        <form action="#" method="get">

                            <input id="search-network-drop" class="input-search" type="text" />

                            <button id="btn-search-delete-net" class="button-search-style"><i class="fa fa-search" aria-hidden="true"></i></button>

                        </form>

                    </div>

                    <div class="box-table">

                        <table class="table-style">

                            <tbody id="tbody-delete-net" class="tbody-style">

                                <tr>

                                    <td>10.0.0.100</td>
                                    <td>

                                        <input class="checkbox-style" type="checkbox" />

                                    </td>

                                </tr>

                            </tbody>

                        </table>

                    </div>

                </div>

                <div class="right-container">

                    <span>Удалить выбранный(-е) объект(-ы)?</span>

                    <div class="wrapper-button">

                        <button id="btn-conf-delete-net" class="button-admin-style">

                            <i class="fa fa-trash" aria-hidden="true"></i>

                        </button>

                    </div>

                </div>

            </div>

        </div>

    </div>