﻿
@{
    Layout = "~/Views/Shared/MainPageAdmin.cshtml";
}


    <div class="box-street">

        <div class="tabs">

            <input type="radio" name="rbtn" checked value="1" id="tabs-add-object" /><label for="tabs-add-object" class="label-tabs">Добавить</label>

            <input type="radio" name="rbtn" value="2" id="tabs-edit-object" /><label for="tabs-edit-object" class="label-tabs">Редактировать</label>

            <div class="tabs-content-1">

                <div class="box-search search-object">

                    <form action="#" method="get">

                        <input class="input-search" type="text" />

                        <button id="btn-search-object" class="button-search-style"><i class="fa fa-search" aria-hidden="true"></i></button>

                    </form>

                </div>

                <div id="box-search-object" class="reult-search-object">

                    <div class="container-object">

                        <span class="style-span-object">Брабожданский Брабождан Брабожданович_Хуевскийcaacsacsacas</span>

                        <span class="style-span-object">mail@mail.ru</span>

                        <span class="style-span-object">Login_user</span>

                        <input type="radio" name="rbtn-o" value="1" id="radiobtn-container-object" class="rbtn-container-object" />

                    </div>

                    <div class="container-object">

                        <span class="style-span-object">Брабожданский Брабождан Брабожданович_Хуевскийcaacsacsacas</span>

                        <span class="style-span-object">mail@mail.ru</span>

                        <span class="style-span-object">Login_user</span>

                        <input type="radio" name="rbtn-o" value="2" id="radiobtn-container-object" class="rbtn-container-object" />

                    </div>

                    <div class="container-object">

                        <span class="style-span-object">Брабожданский Брабождан Брабожданович_Хуевскийcaacsacsacas</span>

                        <span class="style-span-object">mail@mail.ru</span>

                        <span class="style-span-object">Login_user</span>

                        <input type="radio" name="rbtn-o" value="3" id="radiobtn-container-object" class="rbtn-container-object" />

                    </div>

                    <div class="container-object">

                        <span class="style-span-object">Брабожданский Брабождан Брабожданович_Хуевскийcaacsacsacas</span>

                        <span class="style-span-object">mail@mail.ru</span>

                        <span class="style-span-object">Login_user</span>

                        <input type="radio" name="rbtn-o" value="4" id="radiobtn-container-object" class="rbtn-container-object" />

                    </div>

                    <div class="container-object">

                        <span class="style-span-object">Брабожданский Брабождан Брабожданович_Хуевскийcaacsacsacas</span>

                        <span class="style-span-object">mail@mail.ru</span>

                        <span class="style-span-object">Login_user</span>

                        <input type="radio" name="rbtn-o" value="5" id="radiobtn-container-object" class="rbtn-container-object" />

                    </div>

                    <div class="container-object">

                        <span class="style-span-object">Брабожданский Брабождан Брабожданович_Хуевскийcaacsacsacas</span>

                        <span class="style-span-object">mail@mail.ru</span>

                        <span class="style-span-object">Login_user</span>

                        <input type="radio" name="rbtn-o" value="6" id="radiobtn-container-object" class="rbtn-container-object" />

                    </div>

                </div>

                <form action="#" method="post">

                    <div class="wrapper-select">

                        <select id="type-object" class="">

                            <option value="0"></option>


                        </select>

                        <label id="label-type-object" class="label-select" for="type-object">Тип</label>

                    </div>

                    <div class="wrapper-select">

                        <select id="street-object" class="">

                            <option value="0"></option>


                        </select>

                        <label id="label-street-object" class="label-select" for="street-object">Улица</label>

                    </div>

                    <div class="wrapper-input">

                        <input autocomplete="off" id="house-object" class="" type="text" />
                        <label id="label-house-object" class="label-input" for="house-object">Дом (корпус)</label>

                    </div>

                    <div class="wrapper-input">

                        <input autocomplete="off" id="kv-object" class="" type="text" />
                        <label id="label-kv-object" class="label-input" for="kv-object">Квартира</label>

                    </div>

                    <div class="wrapper-input">

                        <input autocomplete="off" id="name-object" class="" type="text" />
                        <label id="label-name-object" class="label-input" for="name-object">Название объекта</label>

                    </div>

                    <div class="wrapper-join">

                        <span>Интегрировать с ОПС</span>

                        <label class="switch-a">

                            <input type="checkbox" id="enable-edit-profile">

                            <span class="slider-a round-a"></span>

                        </label>

                    </div>

                    <div class="wrapper-input">

                        <input autocomplete="off" id="number-pult-lk" class="" type="text" disabled />
                        <label id="label-number-pult-lk" class="label-input" for="number-pult-lk">Пультовой номер</label>

                    </div>

                    <div class="wrapper-button">

                        <button id="btn-create-object" class="button-admin-style">

                            <i class="fa fa-plus" aria-hidden="true"></i>

                        </button>

                    </div>

                </form>

            </div>

            <div class="tabs-content-2">

                <div class="left-container">

                    <div class="box-search">

                        <form action="#" method="get">

                            <input id="search-object-edit" class="input-search" type="text" />

                            <button id="btn-search-delete-object" class="button-search-style"><i class="fa fa-search" aria-hidden="true"></i></button>

                        </form>

                    </div>

                    <div class="box-table">

                        <table class="table-style">

                            <tbody id="tbody-delete-object" class="tbody-style">

                                <tr id="tr-o-1">

                                    <td>Брабожданский_Хуянский Брабождан Брабожданович</td>
                                    <td>BraBozhhhh!</td>
                                    <td>

                                        <input class="checkbox-style" type="checkbox" />

                                    </td>

                                </tr>

                                <tr id="tr-o-2">

                                    <td>Иванов Иван Иванович</td>
                                    <td>IvanOff</td>
                                    <td>

                                        <input class="checkbox-style" type="checkbox" />

                                    </td>

                                </tr>

                            </tbody>

                        </table>

                    </div>

                </div>

                <div class="right-container">

                    <span>Удалить выбранный(-е) объект(-ы)?</span>

                    <div class="wrapper-button">

                        <button id="btn-conf-delete-object" class="button-admin-style">

                            <i class="fa fa-trash" aria-hidden="true"></i>

                        </button>

                    </div>

                </div>

            </div>

        </div>

    </div>