﻿
@{
    Layout = "~/Views/Shared/MainPageAdmin.cshtml";
}

    <div class="box-settings">

        <div class="box-name-general-settings">

            <span>Доступ из внешней сети</span>

        </div>

        <div class="box-general-settings">

            <span class="span-size-a">Администраторы</span>

            <label class="switch-a">

                <input type="checkbox">

                <span class="slider-a round-a"></span>

            </label>

        </div>

        <div class="box-general-settings">

            <span class="span-size-a">Операторы</span>

            <label class="switch-a">

                <input type="checkbox">

                <span class="slider-a round-a"></span>

            </label>

        </div>

        <div class="box-general-settings">

            <span class="span-size-a">Техники</span>

            <label class="switch-a">

                <input type="checkbox">

                <span class="slider-a round-a"></span>

            </label>

        </div>

        <div class="box-general-settings">

            <span class="span-size-a">Клиенты</span>

            <label class="switch-a">

                <input type="checkbox">

                <span class="slider-a round-a"></span>

            </label>

        </div>

    </div>

