﻿
@{
    Layout = "~/Views/Shared/MainPageAdmin.cshtml";
}


    <div class="box-street">

        <div class="tabs">

            <input type="radio" name="rbtn" checked value="1" id="tabs-add-street" /><label for="tabs-add-street" class="label-tabs">Добавить</label>

            <input type="radio" name="rbtn" value="2" id="tabs-edit-street" /><label for="tabs-edit-street" class="label-tabs">Редактировать</label>

            <div class="tabs-content-1">

                <form action="#" method="post">

                    <div class="wrapper-input">

                        <input autocomplete="off" id="name-street" class="" type="text" />
                        <label id="label-name-street" class="label-input" for="name-street">Название улицы</label>


                    </div>

                    <div class="wrapper-button">

                        <button id="btn-conf-create-street" class="button-admin-style">

                            <i class="fa fa-plus" aria-hidden="true"></i>

                        </button>

                    </div>

                </form>

            </div>

            <div class="tabs-content-2">

                <div class="left-container">

                    <div class="box-search">

                        <form action="#" method="get">

                            <input id="search-street-edit" class="input-search" type="text" />

                            <button id="btn-search-delete-street" class="button-search-style"><i class="fa fa-search" aria-hidden="true"></i></button>

                        </form>

                    </div>

                    <div class="box-table">

                        <table class="table-style">

                            <tbody id="tbody-delete-street" class="tbody-style">

                                <tr>

                                    <td>ул. В.Интернационалистов</td>
                                    <td>

                                        <input class="checkbox-style" type="checkbox" />

                                    </td>

                                </tr>

                                <tr>

                                    <td>Хуйпоймешькакаяулицатудысюды</td>
                                    <td>

                                        <input class="checkbox-style" type="checkbox" />

                                    </td>

                                </tr>

                            </tbody>

                        </table>

                    </div>

                </div>

                <div class="right-container">

                    <span>Удалить выбранный(-е) объект(-ы)?</span>

                    <div class="wrapper-button">

                        <button id="btn-conf-delete-street" class="button-admin-style">

                            <i class="fa fa-trash" aria-hidden="true"></i>

                        </button>

                    </div>

                </div>

            </div>

        </div>

    </div>