﻿
@{
    Layout = "~/Views/Shared/MainPageAdmin.cshtml";
}

    <div class="box-user">

        <div class="tabs">

            <input type="radio" name="rbtn" checked value="1" id="tabs-add-user" /><label for="tabs-add-user" class="label-tabs">Добавить</label>

            <input type="radio" name="rbtn" value="2" id="tabs-edit-user" /><label for="tabs-edit-user" class="label-tabs">Редактировать</label>

            <input type="radio" name="rbtn" value="3" id="tabs-delete-user" /><label for="tabs-delete-user" class="label-tabs">Удалить</label>

            <div class="tabs-content-1">

                <form action="#" method="post">

                    <div class="wrapper-select">

                        <select id="role" class="">

                            <option value="0"></option>
                            <option value="1">Иванов иван иванович</option>

                        </select>

                        <label id="label-role" class="label-select" for="role">Роль</label>

                    </div>

                    <div class="wrapper-input">

                        <input autocomplete="off" id="famaly" class="" type="text" />
                        <label id="label-famaly" class="label-input" for="famaly">Фамилия</label>


                    </div>

                    <div class="wrapper-input">

                        <input autocomplete="off" id="name" class="" type="text" />
                        <label id="label-user" class="label-input" for="user">Имя</label>


                    </div>

                    <div class="wrapper-input">

                        <input autocomplete="off" id="patronymic" class="" type="text" />
                        <label id="label-patronymic" class="label-input" for="patronymic">Отчество</label>


                    </div>


                    <div class="wrapper-input">

                        <input autocomplete="off" id="tel" class="" type="text" />
                        <label id="label-tel" class="label-input" for="tel">Телефон</label>


                    </div>

                    <div class="wrapper-input">

                        <input autocomplete="off" id="email" class="" type="text" />
                        <label id="label-email" class="label-input" for="email">Email</label>


                    </div>

                    <div class="wrapper-input">

                        <input autocomplete="off" id="keyid" class="" type="text" />
                        <label id="label-keyid" class="label-input" for="keyid">ID</label>


                    </div>

                    <div class="wrapper-select">

                        <select id="organiz" class="">

                            <option value="0"></option>

                        </select>

                        <label id="label-organiz" class="label-select" for="organiz">Организация</label>

                    </div>

                    <div class="wrapper-input">

                        <input autocomplete="off" id="login" class="" type="text" />
                        <label id="label-login" class="label-input" for="login">Login</label>


                    </div>

                    <div class="wrapper-input">

                        <input autocomplete="off" id="password" class="" type="text" />
                        <label id="label-password" class="label-input" for="password">Password</label>


                    </div>

                    <div class="wrapper-input">

                        <input autocomplete="off" id="small-desc" class="" type="text" />
                        <label id="label-small-desc" class="label-input" for="small-desc">Краткое описание</label>


                    </div>

                    <div class="wrapper-foto">

                        <input type="file" id="foto" name="foto-user" accept="image/jpeg,image/png,image/gif" />

                    </div>

                    <div class="wrapper-button">

                        <button id="btn-conf-create-user" class="button-admin-style">

                            <i class="fa fa-plus" aria-hidden="true"></i>

                        </button>

                    </div>

                </form>

            </div>

            <div class="tabs-content-2">

                <div class="left-container">

                    <div class="box-search">

                        <form action="#" method="get">

                            <input class="input-search" type="text" />

                            <button id="btn-search-edit-user" class="button-search-style"><i class="fa fa-search" aria-hidden="true"></i></button>

                        </form>

                    </div>

                    <div class="box-table">

                        <table class="table-style">

                            <tbody id="tbody-edit-user" class="tbody-style">

                                <tr id="tr-edit-1">

                                    <td>Ивановский-Кончаловский Хрен Хренович</td>
                                    <td>Login</td>
                                    <td>8-999-123-45-67</td>

                                </tr>

                                <tr id="tr-edit-2">

                                    <td>Ивановский-Кончаловский Хрен Хренович</td>
                                    <td>Login</td>
                                    <td>8-999-123-45-67</td>

                                </tr>

                                <tr id="tr-edit-3">

                                    <td>Ивановский-Кончаловский Хрен Хренович</td>
                                    <td>Login</td>
                                    <td>8-999-123-45-67</td>

                                </tr>

                                <tr id="tr-edit-4">

                                    <td>Ивановский-Кончаловский Хрен Хренович</td>
                                    <td>Login</td>
                                     <td>8-999-123-45-67</td>

                                </tr>

                                <tr id="tr-edit-5">

                                    <td>Ивановский-Кончаловский Хрен Хренович</td>
                                    <td>Login</td>

                                </tr>

                                <tr id="tr-edit-6">

                                    <td>Ивановский-Кончаловский Хрен Хренович</td>
                                    <td>Login</td>

                                </tr>

                                <tr id="tr-edit-7">

                                    <td>Ивановский-Кончаловский Хрен Хренович</td>
                                    <td>Login</td>

                                </tr>

                                <tr id="tr-edit-8">

                                    <td>Ивановский-Кончаловский Хрен Хренович</td>
                                    <td>Login</td>

                                </tr>

                                <tr id="tr-edit-9">

                                    <td>Ивановский-Кончаловский Хрен Хренович</td>
                                    <td>Login</td>

                                </tr>

                                <tr id="tr-edit-10">

                                    <td>Ивановский-Кончаловский Хрен Хренович</td>
                                    <td>Login</td>

                                </tr>

                                <tr id="tr-edit-11">

                                    <td>Ивановский-Кончаловский Хрен Хренович</td>
                                    <td>Login</td>

                                </tr>

                                <tr id="tr-edit-12">

                                    <td>Ивановский-Кончаловский Хрен Хренович</td>
                                    <td>Login</td>

                                </tr>

                                <tr id="tr-edit-13">

                                    <td>Ивановский-Кончаловский Хрен Хренович</td>
                                    <td>Login</td>

                                </tr>

                                <tr id="tr-edit-14">

                                    <td>Ивановский-Кончаловский Хрен Хренович</td>
                                    <td>Logim</td>

                                </tr>

                                <tr id="tr-edit-15">

                                    <td>Ивановский-Кончаловский Хрен Хренович</td>
                                    <td>lOGIN</td>

                                </tr>

                                <tr id="tr-edit-16">

                                    <td>Ивановский-Кончаловский Хрен Хренович</td>
                                    <td>Login</td>

                                </tr>

                                <tr id="tr-edit-16">

                                    <td>Ивановский-Кончаловский Хрен Хренович</td>
                                    <td>Login</td>

                                </tr>

                                <tr id="tr-edit-16">

                                    <td>Ивановский-Кончаловский Хрен Хренович</td>
                                    <td>Login</td>

                                </tr>

                            </tbody>

                        </table>

                    </div>

                </div>

                <div class="right-container">

                    <form action="#" method="post">

                        <div class="wrapper-select">

                            <select id="e-role" class="">

                                <option value="0"></option>

                            </select>

                            <label id="label-e-role" class="label-select" for="e-role">Роль</label>

                        </div>

                        <div class="wrapper-input">

                            <input autocomplete="off" id="e-famaly" class="" type="text" />
                            <label id="label-e-famaly" class="label-input" for="e-famaly">Фамилия</label>


                        </div>

                        <div class="wrapper-input">

                            <input autocomplete="off" id="e-name" class="" type="text" />
                            <label id="label-e-name" class="label-input" for="e-name">Имя</label>


                        </div>

                        <div class="wrapper-input">

                            <input autocomplete="off" id="e-patronymic" class="" type="text" />
                            <label id="label-e-patronymic" class="label-input" for="e-patronymic">Отчество</label>


                        </div>

                        <div class="wrapper-input">

                            <input autocomplete="off" id="e-tel" class="" type="text" />
                            <label id="label-e-tel" class="label-input" for="e-tel">Телефон</label>


                        </div>

                        <div class="wrapper-input">

                            <input autocomplete="off" id="e-email" class="" type="text" />
                            <label id="label-e-email" class="label-input" for="e-email">Email</label>


                        </div>

                        <div class="wrapper-input">

                            <input autocomplete="off" id="e-keyid" class="" type="text" />
                            <label id="label-e-keyid" class="label-input" for="e-keyid">ID</label>


                        </div>

                        <div class="wrapper-select">

                            <select id="e-organiz" class="">

                                <option value="0"></option>

                            </select>

                            <label id="label-e-organiz" class="label-select" for="e-organiz">Организация</label>

                        </div>

                        <div class="wrapper-input">

                            <input autocomplete="off" id="e-login" class="" type="text" />
                            <label id="label-e-login" class="label-input" for="e-login">Login</label>


                        </div>

                        <div class="wrapper-input">

                            <input autocomplete="off" id="e-password" class="" type="text" />
                            <label id="label-e-password" class="label-input" for="e-password">Password</label>


                        </div>

                        <div class="wrapper-input">

                            <input autocomplete="off" id="e-small-desc" class="" type="text" />
                            <label id="label-e-small-desc" class="label-input" for="e-small-desc">Краткое описание</label>


                        </div>

                        <div class="wrapper-foto">

                            <input type="file" id="e-foto" name="foto-user" accept="image/jpeg,image/png,image/gif" />

                        </div>

                        <div class="wrapper-button">

                            <button id="btn-conf-edit-user" class="button-admin-style">

                                <i class="fa fa-pencil" aria-hidden="true"></i>

                            </button>

                        </div>

                    </form>

                </div>

            </div>

            <div class="tabs-content-3">

                <div class="left-container">

                    <div class="box-search">

                        <form action="#" method="get">

                            <input class="input-search" type="text" />

                            <button id="btn-search-delete-user" class="button-search-style"><i class="fa fa-search" aria-hidden="true"></i></button>

                        </form>

                    </div>

                    <div class="box-table">

                        <table class="table-style">

                            <tbody id="tbody-delete-user" class="tbody-style">

                                <tr>

                                    <td>ИВАНОВСКИЙХуевскийИванИванович wefwefwefwefwefew  wfefewf wfefewfewfewfewf</td>
                                    <td>Login</td>
                                    <td>

                                        <input class="checkbox-style" type="checkbox" />

                                    </td>

                                </tr>

                                <tr>

                                    <td>ИВАНОВСКИЙХуевский Иван Иванович</td>
                                    <td>Login</td>
                                    <td>

                                        <input class="checkbox-style" type="checkbox" />

                                    </td>

                                </tr>

                                <tr>

                                    <td>ИВАНОВСКИЙХуевский Иван Иванович</td>
                                    <td>Login</td>
                                    <td>

                                        <input class="checkbox-style" type="checkbox" />

                                    </td>

                                </tr>

                                <tr>

                                    <td>ИВАНОВСКИЙХуевский Иван Иванович</td>
                                    <td>Login</td>
                                    <td>

                                        <input class="checkbox-style" type="checkbox" />

                                    </td>

                                </tr>

                                <tr>

                                    <td>ИВАНОВСКИЙХуевский Иван Иванович</td>
                                    <td>Login</td>
                                    <td>

                                        <input class="checkbox-style" type="checkbox" />

                                    </td>

                                </tr>
                            </tbody>

                        </table>

                    </div>

                </div>

                <div class="right-container">

                    <span>Удалить выбранный(-е) объекты?</span>

                    <div class="wrapper-button">

                        <button id="btn-conf-delete-user" class="button-admin-style">

                            <i class="fa fa-trash" aria-hidden="true"></i>

                        </button>

                    </div>

                </div>

            </div>

        </div>

    </div>


