﻿
@{
    Layout = "~/Views/Shared/MainPageLk.cshtml";
}

    <div class="application-lk">

        <div class="wrapper-select">

            <select id="app-object-lk" class="">

                <option value="0"></option>

            </select>

            <label id="label-app-object-lk" class="label-select" for="app-object-lk">Объект</label>

        </div>

        <div class="wrapper-calendare">

            <div class="calendare-lk">

                <div class="mounth-lk">

                    <span id="mounth">Сентябрь</span>
                    <button id="btn-hourse-app"><i class="fa fa-clock-o" aria-hidden="true"></i></button>

                </div>

                <div class="data-mounth-lk">

                    <div class="time-lk">

                        <button id="button-close-time-lk" class="btn-close-time-lk">X</button>

                        <input autocomplete="off" class="time-hour indent-top" type="text" />
                        <input autocomplete="off" class="time-minute" type="text" />

                        <button id="button-ok-time-lk" class="btn-ok-time-lk">OK</button>

                    </div>

                    <table id="table-day" class="table-calendare">

                        <tr class="tr-style table-day">

                            <th>ПН</th>
                            <th>ВТ</th>
                            <th>СР</th>
                            <th>ЧТ</th>
                            <th>ПТ</th>
                            <th>СБ</th>
                            <th>ВС</th>

                        </tr>

                        <tr class="tr-style">

                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>1</td>

                        </tr>

                        <tr class="tr-style">

                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>

                        </tr>

                        <tr class="tr-style">

                            <td>9</td>
                            <td>10</td>
                            <td>11</td>
                            <td>12</td>
                            <td>13</td>
                            <td>14</td>
                            <td>15</td>

                        </tr>

                        <tr class="tr-style">

                            <td>16</td>
                            <td>17</td>
                            <td>18</td>
                            <td>19</td>
                            <td>20</td>
                            <td>21</td>
                            <td>22</td>

                        </tr>

                        <tr class="tr-style">

                            <td>23</td>
                            <td>24</td>
                            <td>25</td>
                            <td>26</td>
                            <td>27</td>
                            <td>28</td>
                            <td>29</td>

                        </tr>

                        <tr class="tr-style">

                            <td>30</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>

                    </table>

                </div>

            </div>

        </div>

        <div class="wrapper-label-lk">

            <label id="data-app-lk">2019 10 Сентября, ВТ, 10:50</label>

        </div>

        <div class="wrapper-select">

            <select id="app-reason-lk" class="">

                <option value="0"></option>
                <option value="1">Хуйня какая-то</option>

            </select>

            <label id="label-app-reason-lk" class="label-select" for="app-reason-lk">Причина</label>

        </div>

        <div class="wrapper-textarea">

            <textarea rows="4" maxlength="127" autocomplete="off" id="app-text-descript-lk" class="" type="text"></textarea>
            <label id="label-app-descript-lk" class="label-textarea" for="app-text-descript-lk">Краткое описание(не более 127 символов)</label>

        </div>

        <div class="wrapper-button">

            <button id="btn-create-lk" class="button-client-style">

                <i class="fa fa-plus" aria-hidden="true"></i>

            </button>

        </div>

    </div>

