﻿
@{
    Layout = "~/Views/Shared/MainPageLk.cshtml";
}

    <div class="chat-lk">

        <div class="wrapper-navchat">

            <div class="navchat">

                <a class="container-user-chat">

                    <div class="icon-user-chat">

                        <div class="status-subscriber-lk"></div>

                        <div class="delete-subscriber-lk"><i class="fa fa-times" aria-hidden="true"></i></div>

                    </div>

                    <div class="fio-user-chat">

                        <span>КакойтовичКАкойтто К. К.</span>

                    </div>

                    <div class="message-user-chat">

                        <span>0</span>

                    </div>

                </a>

            </div>

        </div>

        <div class="mainchat">

            <div class="header-chat-lk">

                <button id="btn-contacts-lk" class="button-action-chat">

                    <i class="fa fa-user" aria-hidden="true"></i>

                </button>

                <div class="wrapper-search-lk">

                    <input autocomplete="off" type="text" />

                    <button id="search-users-lk" class="button-search-lk">

                        <i class="fa fa-search" aria-hidden="true"></i>

                    </button>

                </div>

                <button id="open-settings-lk" class="button-settings-lk">

                    <i class="fa fa-sliders" aria-hidden="true"></i>

                </button>

            </div>

            <div class="body-chat-lk">

                <div id="settings-lk" class="settings-search">

                    <div class="name-categories">

                        <span>Поиск по категориям</span>

                        <button id="close-categories-lk" class="close-search-categories">

                            <i class="fa fa-times" aria-hidden="true"></i>

                        </button>

                    </div>

                    <div class="box-categories">

                        <span>Администраторы</span>

                        <label class="switch">

                            <input type="checkbox">

                            <span class="slider round"></span>

                        </label>

                    </div>

                    <div class="box-categories">

                        <span>Операторы</span>

                        <label class="switch">

                            <input type="checkbox">

                            <span class="slider round"></span>

                        </label>

                    </div>

                    <div class="box-categories">

                        <span>Техники</span>

                        <label class="switch">

                            <input type="checkbox">

                            <span class="slider round"></span>

                        </label>

                    </div>

                    <div class="box-categories">

                        <span>Все</span>

                        <label class="switch">

                            <input type="checkbox">

                            <span class="slider round"></span>

                        </label>

                    </div>

                </div>

                <div id="contacts-lk" class="contacts">

                    <div class="container-user">

                        <div class="icon-user">



                        </div>

                        <div class="fio-user">

                            <span>ДубровскийХуевский Д. Д.</span>

                        </div>

                        <button class="action">

                            <i class="fa fa-trash" aria-hidden="true"></i>

                        </button>

                        <a class="link-message">

                            <i class="fa fa-comment-o" aria-hidden="true"></i>

                            <div class="message-user-mobile"><span>+9</span></div>

                        </a>

                    </div>

                    <div class="container-user">

                        <div class="icon-user">



                        </div>

                        <div class="fio-user">

                            <span>ДубровскийХуевский Д. Д.</span>

                        </div>

                        <button class="action">

                            <i class="fa fa-trash" aria-hidden="true"></i>

                        </button>

                        <a class="link-message">

                            <i class="fa fa-comment-o" aria-hidden="true"></i>

                            <div class="message-user-mobile"><span>+9</span></div>

                        </a>

                    </div>

                    <div class="container-user">

                        <div class="icon-user">



                        </div>

                        <div class="fio-user">

                            <span>ДубровскийХуевский Д. Д.</span>

                        </div>

                        <button class="action">

                            <i class="fa fa-trash" aria-hidden="true"></i>

                        </button>

                        <a class="link-message">

                            <i class="fa fa-comment-o" aria-hidden="true"></i>

                            <div class="message-user-mobile"><span>+9</span></div>

                        </a>

                    </div>

                    <div class="container-user">

                        <div class="icon-user">



                        </div>

                        <div class="fio-user">

                            <span>ДубровскийХуевский Д. Д.</span>

                        </div>

                        <button class="action">

                            <i class="fa fa-trash" aria-hidden="true"></i>

                        </button>

                        <a class="link-message">

                            <i class="fa fa-comment-o" aria-hidden="true"></i>

                            <div class="message-user-mobile"><span>+9</span></div>

                        </a>

                    </div>

                    <div class="container-user">

                        <div class="icon-user">



                        </div>

                        <div class="fio-user">

                            <span>ДубровскийХуевский Д. Д.</span>

                        </div>

                        <button class="action">

                            <i class="fa fa-trash" aria-hidden="true"></i>

                        </button>

                        <a class="link-message">

                            <i class="fa fa-comment-o" aria-hidden="true"></i>

                            <div class="message-user-mobile"><span>+9</span></div>

                        </a>

                    </div>

                    <div class="container-user">

                        <div class="icon-user">



                        </div>

                        <div class="fio-user">

                            <span>ДубровскийХуевский Д. Д.</span>

                        </div>

                        <button class="action">

                            <i class="fa fa-trash" aria-hidden="true"></i>

                        </button>

                        <a class="link-message">

                            <i class="fa fa-comment-o" aria-hidden="true"></i>

                            <div class="message-user-mobile"><span>+9</span></div>

                        </a>

                    </div>

                    <div class="container-user">

                        <div class="icon-user">



                        </div>

                        <div class="fio-user">

                            <span>ДубровскийХуевский Д. Д.</span>

                        </div>

                        <button class="action">

                            <i class="fa fa-trash" aria-hidden="true"></i>

                        </button>

                        <a class="link-message">

                            <i class="fa fa-comment-o" aria-hidden="true"></i>

                            <div class="message-user-mobile"><span>+9</span></div>

                        </a>

                    </div>

                </div>

                <div id="search-lk" class="search-users">

                    <button id="close-search" class="close-list-search"><i class="fa fa-times" aria-hidden="true"></i></button>

                    <div class="container-search-user">

                        <div class="icon-user">



                        </div>

                        <div class="fio-user-search">

                            <span>БрабажданскийХуевский Д. Д.</span>

                        </div>

                        <button class="action-search">

                            <i class="fa fa-plus" aria-hidden="true"></i>

                        </button>

                    </div>

                    <div class="container-search-user">

                        <div class="icon-user">



                        </div>

                        <div class="fio-user-search">

                            <span>БрабажданскийХуевский Д. Д.</span>

                        </div>

                        <button class="action-search">

                            <i class="fa fa-plus" aria-hidden="true"></i>

                        </button>

                    </div>

                    <div class="container-search-user">

                        <div class="icon-user">



                        </div>

                        <div class="fio-user-search">

                            <span>БрабажданскийХуевский Д. Д.</span>

                        </div>

                        <button class="action-search">

                            <i class="fa fa-plus" aria-hidden="true"></i>

                        </button>

                    </div>

                </div>

                <div id="box-chat" class="user-chat">

                   @* <div class="message-style buddy-message">

                        <span>Как дела?</span>

                    </div>

                    <div class="message-style my-message">

                        <span>Нормально</span>

                    </div>

                    <div class="message-style buddy-message">

                        <span>Нормально-не реально!!</span>

                    </div>

                    <div class="message-style my-message">

                        <span>Смешно. Чем занят? Может пойдем дернем по стаканчику пиваса?</span>

                    </div>

                    <div class="message-style buddy-message">

                        <span>Конечно! Где встречаемся?</span>

                    </div>

                    <div class="message-style my-message">

                        <span>Заеду за тобой через полчаса. Ты выходи, к подъезду, я подъеду, машину у тебя оставлю, а сами пойдем бухать</span>

                    </div>

                    <div class="message-style buddy-message">

                        <span>А тебе утром как ее забирать? Норм будет? Сам подумай?</span>

                    </div>

                    <div class="message-style my-message">

                        <span>Норм</span>

                    </div>
                       *@
                    

                </div>

            </div>

            <div class="footer-chat-lk">

                <div class="wrapper-textarea-lk">

                    <textarea rows="2" maxlength="999" autocomplete="off" id="" class="" type="text"></textarea>
                    <label id="label-app-descript" class="label-textarea" for="app-text-descript">Введите текст</label>

                </div>

                <button id="send-message" class="button-send">

                    <i class="fa fa-paper-plane" aria-hidden="true"></i>

                </button>

            </div>

        </div>

    </div>

