﻿
@{
    Layout = "~/Views/Shared/MainPageLk.cshtml";
}

@{ string[] mounth = {"", "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь" }; }


<div class="history-lk">

    <div class="header-history-lk">

        <form method="post" action="#">

            <div class="wrapper-input width-lk">

                <input autocomplete="off" id="year-history-lk" class="" type="text" />
                <label id="label-year-history-lk" class="label-input" for="year-history-lk">Год</label>


            </div>

            <div class="wrapper-select width-lk">

                <select id="mounth-history-lk" class="">

                    @{
                        for (int i = 0; i < 13; i++)
                        {
                            <option value="@i">@mounth[i]</option>
                        }
                    }

                </select>

                <label id="label-mounth-history-lk" class="label-select" for="mounth-history-lk">Месяц</label>

            </div>

            <div class="wrapper-input width-lk">

                <input autocomplete="off" id="number-history-lk" class="" type="text" />
                <label id="label-number-history-lk" class="label-input" for="number-history-lk">Число</label>


            </div>

            <button class="ask-history">Запросить</button>

        </form>

    </div>

    <div class="body-history-lk">

        <div class="item-history-lk">

            <span class="data-history-lk">05 сентября 2019г, 10:45</span>

            <span class="tech-lk">Вам отправлен техник Брабожданский Борис Борисович</span>

            <span class="descript-history-lk">Причина: не понятна природа сей неисправности, поэтому нужна помощь</span>

            <span class="result-work-lk">Техник: замена неисправного датчика Фотон-9</span>

        </div>

        <div class="item-history-lk">

            <span class="data-history-lk">05 сентября 2019г, 10:45</span>

            <span class="tech-lk">Вам отправлен техник Брабожданский Борис Борисович</span>

            <span class="descript-history-lk">Причина: не понятна природа сей неисправности, поэтому нужна помощь</span>

            <span class="result-work-lk">Техник: замена неисправного датчика Фотон-9</span>

        </div>

        <div class="item-history-lk">

            <span class="data-history-lk">05 сентября 2019г, 10:45</span>

            <span class="tech-lk">Вам отправлен техник Брабожданский Борис Борисович</span>

            <span class="descript-history-lk">Причина: не понятна природа сей неисправности, поэтому нужна помощь</span>

            <span class="result-work-lk">Техник: замена неисправного датчика Фотон-9</span>

        </div>

        <div class="item-history-lk">

            <span class="data-history-lk">05 сентября 2019г, 10:45</span>

            <span class="tech-lk">Вам отправлен техник БрабожданскийХуянский Борис Борисович</span>

            <span class="descript-history-lk">Причина: не понятна природа сей неисправности, поэтому нужна помощь. Ребятушки помогите горемыке, а то спешу на работу</span>

            <span class="result-work-lk">Техник: замена неисправного датчика Фотон-9</span>

        </div>

        <div class="item-history-lk">

            <span class="data-history-lk">05 сентября 2019г, 10:45</span>

            <span class="tech-lk">Вам отправлен техник Брабожданский Борис Борисович</span>

            <span class="descript-history-lk">Причина: не понятна природа сей неисправности, поэтому нужна помощь</span>

            <span class="result-work-lk">Техник: замена неисправного датчика Фотон-9</span>

        </div>

        <div class="item-history-lk">

            <span class="data-history-lk">05 сентября 2019г, 10:45</span>

            <span class="tech-lk">Вам отправлен техник Шатц Борис Борисович</span>

            <span class="descript-history-lk">Причина: не могу сдать</span>

            <span class="result-work-lk">Техник: проверка</span>

        </div>

    </div>

    <div class="footer-history-lk">



    </div>

</div>
