﻿
@{
    Layout = "~/Views/Shared/MainPageLk.cshtml";
}

    <div class="guard-lk">

        <div class="header-guard-lk">

            <div class="logo-service-firma"></div>

            <span class="service-organize">Обслуживающая организация: <span class="name-service-firma">ФГУП Охрана при ВНГ по г.Новочебоксарску</span></span>

        </div>

        <div class="container-guard-lk">

            <div class="header-container-guard">

                <span class="address-object">ул.Воинов-Интернационалистов, д.10, кв.99</span>

            </div>

            <div class="body-container-guard">

                <div class="status-object"><i class="fa fa-home" aria-hidden="true"></i></div>

                <span class="descript-status-object">Нет связи</span>

            </div>

            <div class="footer-container-guard">

                <div class="block">

                    <div class="img-sim"></div>

                    <span class="value">SIM2</span>

                </div>

                <div class="block">

                    <div class="img-akkb"></div>

                    <span class="value">+12.2 В</span>

                </div>

                <div class="block">

                    <div class="img-vskorp"></div>

                    <span class="value">Корпус закрыт</span>

                </div>

            </div>

        </div>

      @*  <div class="container-guard-lk">

            <div class="header-container-guard">

                <span class="address-object">ул.Южная, д.8, кв.16</span>

            </div>

            <div class="body-container-guard">

                <div class="status-object"><i class="fa fa-home" aria-hidden="true"></i></div>

                <span class="descript-status-object">Нет связи</span>

            </div>

            <div class="footer-container-guard">

                <div class="block">

                    <div class="img-sim"></div>

                    <span class="value">SIM1</span>

                </div>

                <div class="block">

                    <div class="img-akkb"></div>

                    <span class="value">+13.4 В</span>

                </div>

                <div class="block">

                    <div class="img-vskorp"></div>

                    <span class="value">Корпус закрыт</span>

                </div>

            </div>

        </div>*@

    </div>
    

