﻿
@{
    Layout = "~/Views/Shared/MainPageLk.cshtml";
}


<div class="settings-lk">

    <div class="enable-edit-profile">

        <span style="color:#5C6BC0;font-weight:400;">Редактировать профиль?</span>

        <div class="box-general-settings">

            <label class="switch-a">

                <input type="checkbox" id="enable-edit-profile">

                <span class="slider-a round-a"></span>

            </label>

        </div>

    </div>

    <div id="box-profile" class="box-center-profile">

        <form action="#" method="post">

            <div class="wrapper-input">

                <input autocomplete="off" id="famaly-lk" class="" type="text" />
                <label id="label-famaly-lk" class="label-input" for="famaly-lk">Фамилия</label>


            </div>

            <div class="wrapper-input">

                <input autocomplete="off" id="name-user-lk" class="" type="text" />
                <label id="label-user-lk" class="label-input" for="name-user-lk">Имя</label>


            </div>

            <div class="wrapper-input">

                <input autocomplete="off" id="patronymic-lk" class="" type="text" />
                <label id="label-patronymic-lk" class="label-input" for="patronymic-lk">Отчество</label>


            </div>

            <div class="wrapper-input">

                <input autocomplete="off" id="tel-lk" class="" type="text" />
                <label id="label-tel-lk" class="label-input" for="tel-lk">Телефон</label>


            </div>

            <div class="wrapper-input">

                <input autocomplete="off" id="email-lk" class="" type="text" />
                <label id="label-email-lk" class="label-input" for="email-lk">Email</label>


            </div>

            <div class="wrapper-select">

                <select id="organiz-lk" class="">

                    <option value="0"></option>
                    <option value="1"></option>

                </select>

                <label id="label-organiz-lk" class="label-select" for="organiz-lk">Организация</label>

            </div>

            <div class="wrapper-input">

                <input autocomplete="off" id="login-lk" class="" type="text" />
                <label id="label-login-lk" class="label-input" for="login-lk">Login</label>


            </div>

            <div class="wrapper-input">

                <input autocomplete="off" id="password-lk" class="" type="text" />
                <label id="label-password-lk" class="label-input" for="password-lk">Password</label>


            </div>

            <div class="wrapper-input">

                <input autocomplete="off" id="small-desc-lk" class="" type="text" />
                <label id="label-small-desc-lk" class="label-input" for="small-desc-lk">Краткое описание</label>


            </div>

            <div class="wrapper-foto">

                <input type="file" id="foto-lk" name="foto-user" accept="image/jpeg,image/png,image/gif" />

            </div>

            <div class="wrapper-button">

                <button id="btn-edit-user-lk" class="button-lk-style">

                    <i class="fa fa-check" aria-hidden="true"></i>

                </button>

            </div>

        </form>

    </div>

</div>

<div class="bind-lk">

    <span class="title-user-object">Добавить объект</span>

    <div class="bind-object">

        <form action="#" method="post">

            <div class="wrapper-select">

                <select id="type-object-lk" class="">

                    <option value="0"></option>


                </select>

                <label id="label-type-object-lk" class="label-select" for="type-object-lk">Тип</label>

            </div>

            <div class="wrapper-select">

                <select id="street-object-lk" class="">

                    <option value="0"></option>


                </select>

                <label id="label-street-object-lk" class="label-select" for="street-object-lk">Улица</label>

            </div>

            <div class="wrapper-input">

                <input autocomplete="off" id="house-object-lk" class="" type="text" />
                <label id="label-house-object-lk" class="label-input" for="house-object-lk">Дом (корпус)</label>

            </div>

            <div class="wrapper-input">

                <input autocomplete="off" id="kv-object-lk" class="" type="text" />
                <label id="label-kv-object-lk" class="label-input" for="kv-object-lk">Квартира</label>

            </div>

            <div class="wrapper-input">

                <input autocomplete="off" id="name-object-lk" class="" type="text" />
                <label id="label-name-object-lk" class="label-input" for="name-object-lk">Название объекта</label>

            </div>

            <div class="wrapper-join">

                <span>Интегрировать с ОПС</span>

                <label class="switch-a">

                    <input type="checkbox" id="enable-integration-ops">

                    <span class="slider-a round-a"></span>

                </label>

            </div>

            <div class="wrapper-input">

                <input autocomplete="off" id="number-pult-lk" class="" type="text" disabled/>
                <label id="label-number-pult-lk" class="label-input" for="number-pult-lk">Пультовой номер</label>

            </div>

            <div class="wrapper-button">

                <button id="btn-create-object-lk" class="button-lk-style">

                    <i class="fa fa-plus" aria-hidden="true"></i>

                </button>

            </div>

        </form>

    </div>

    <span class="title-user-object">Удалить объект</span>

    <div class="list-object-user">

        <div class="container-list-object-user">

            <div class="descript-object-user">

                <span>Квартира</span>

                <span>ул.Воинов-Интернационалистов, д.15-99</span>

            </div>

            <button class="delete-object-user"><i class="fa fa-trash-o" aria-hidden="true"></i></button>

        </div>

        <div class="container-list-object-user">

            <div class="descript-object-user">

                <span>Объект</span>

                <span>ул.Воинов-Интернационалистов, д.13</span>

            </div>

            <button class="delete-object-user"><i class="fa fa-trash-o" aria-hidden="true"></i></button>

        </div>

    </div>

</div>