﻿
@{
    Layout = "~/Views/Shared/MainPageOperator.cshtml";
}

    <div class="main-history">

        <form action="#" method="post">

            <div class="wrapper-select-search">

                <select>

                    <option disabled></option>

                </select>

                <label class="label-select-search">ФИО техника</label>

            </div>

            <div class="box-data-search">

                <div class="wrapper-input">

                    <input autocomplete="off" id="search-year" class="" type="text" />
                    <label id="label-app-name-object" class="label-input" for="search-year">Год</label>


                </div>

                <div class="wrapper-input">

                    <input autocomplete="off" id="search-mounth" class="" type="text" />
                    <label id="label-app-name-object" class="label-input" for="search-mounth">Месяц</label>


                </div>

                <div class="wrapper-input">

                    <input autocomplete="off" id="search-day" class="" type="text" />
                    <label id="label-app-name-object" class="label-input" for="search-day">День</label>


                </div>

            </div>

            <button class="btn-history-tech">ЗАПРОСИТЬ</button>

        </form>

        <div class="body-history">


            <div class="list-history">

                <div class="item-history">

                    <span class="data-history">2019.09.15, к 10:50</span>

                    <span class="sender">ИВановский И. И.</span>

                    <span class="descript-history">ООО Хуйня-муйня, Петровский П.П., ул.В.Интернационалистов, 15-87, не берется ОС. Придите и почините мне это хуйню что бы она бралась под охрану. Статус:новая</span>

                    <span class="notice">Да сломалась какая то хуйня. Заменил и все пошло.</span>

                </div>

                <div class="item-history">

                    <span class="data-history">2019.09.15, к 10:50</span>

                    <span class="sender">ИВановский И. И.</span>

                    <span class="descript-history">ООО Хуйня-муйня, Петровский П.П., ул.В.Интернационалистов, 15-87, не берется ОС. Статус:новая</span>

                    <span class="notice">Да сломалась какая то хуйня. Заменил и все пошло.</span>

                </div>

                <div class="item-history">

                    <span class="data-history">2019.09.15, к 10:50</span>

                    <span class="sender">ИВановскийКОнчаловский И. И.</span>

                    <span class="descript-history">ООО Хуйня-муйня, Петровский П.П., ул.В.Интернационалистов, 15-87, не берется ОС. Придите и почините мне это хуйню что бы она бралась под охрану. Статус:новая</span>

                    <span class="notice">Да сломалась какая то хуйня. Заменил и все пошло. Труляля траляля . Тудя-сюда потом затем и все такое кароче</span>

                </div>

            </div>

        </div>

        <div class="footer-history"> </div>

    </div>

