﻿
@{
    Layout = "~/Views/Shared/MainPageOperator.cshtml";
}

<div class="sticker">

    <div class="sticker-all-app">

        <div>

            <i class="fa fa-upload fa-2x embleme" aria-hidden="true"></i>
            <h4 class="descript-app">Заявки за день</h4>

        </div>

        <div>

            <h3 id="count-all-app" class="count-app">0</h3>

        </div>

    </div>

    <div class="sticker-inwork-app">

        <div>

            <i class="fa fa-wrench fa-2x embleme" aria-hidden="true"></i>
            <h4 class="descript-app">В работе</h4>

        </div>

        <div>

            <h3 id="count-inwork-app" class="count-app">0</h3>

        </div>

    </div>

    <div class="sticker-done-app">

        <div>

            <i class="fa fa-check-circle fa-2x embleme" aria-hidden="true"></i>
            <h4 class="descript-app">Выполненные</h4>

        </div>

        <div>

            <h3 id="count-done-app" class="count-app">0</h3>

        </div>

    </div>

</div>

<div class="application">

    <div class="calendare">

        <div class="mounth-app">

            <span id="mounth">Сентябрь</span>
            <button id="open-time"><i class="fa fa-clock-o" aria-hidden="true"></i></button>

        </div>

        <div class="data-mounth-app">

            <div id="block-time-app" class="time-app">

                <button id="close-time" class="btn-close-time">X</button>

                <input autocomplete="off" class="time-hour indent-top" type="text" />
                <input autocomplete="off" class="time-minute" type="text" />

                <button id="clo" class="btn-ok-time">OK</button>

            </div>

            <table id="table-day" class="table-calendare">

                <tr class="tr-style table-day">

                    <th>ПН</th>
                    <th>ВТ</th>
                    <th>СР</th>
                    <th>ЧТ</th>
                    <th>ПТ</th>
                    <th>СБ</th>
                    <th>ВС</th>

                </tr>

                <tr class="tr-style">

                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>

                </tr>

                <tr class="tr-style">

                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>

                </tr>

                <tr class="tr-style">

                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>

                </tr>

                <tr class="tr-style">

                    <td>16</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>

                </tr>

                <tr class="tr-style">

                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>

                </tr>

                <tr class="tr-style">

                    <td>30</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>

            </table>

        </div>

    </div>

    <div class="descript-app">

        <form action="#" method="post">

            <div class="wrapper-label-app">

                <label>2019 10 Сентября, ВТ, 10:50</label>

            </div>

            <div class="wrapper-select">

                <select id="app-fio-tech" class="">

                    <option value="0"></option>
                    <option value="1">Иванов иван иванович</option>

                </select>

                <label id="label-app-fio-tech" class="label-select" for="app-fio-tech">ФИО техника</label>

            </div>

            <div class="wrapper-input">

                <input autocomplete="off" id="app-name-object" class="" type="text" />
                <label id="label-app-name-object" class="label-input" for="app-name-object">Название объекта</label>


            </div>

            <div class="wrapper-select">

                <select id="app-street" class="">

                    <option value="0"></option>
                    <option value="1">ул.Южная</option>

                </select>

                <label id="label-app-fio-tech" class="label-select" for="app-street">Улица</label>

            </div>


            <div class="wrapper-input">

                <input autocomplete="off" id="app-house" class="" type="text" />
                <label id="label-app-name-object" class="label-input" for="app-house">Дом, корпус</label>


            </div>

            <div class="wrapper-input">

                <input autocomplete="off" id="app-kv" class="" type="text" />
                <label id="label-app-name-object" class="label-input" for="app-kv">Квартира</label>


            </div>

            <div class="wrapper-select">

                <select id="app-reason" class="">

                    <option value="0"></option>
                    <option value="1">Хуйня какая-то</option>

                </select>

                <label id="label-app-fio-tech" class="label-select" for="app-reason">Причина</label>

            </div>

            <div class="wrapper-textarea">

                <textarea rows="4" maxlength="127" autocomplete="off" id="app-text-descript" class="" type="text"></textarea>
                <label id="label-app-descript" class="label-textarea" for="app-text-descript">Краткое описание(не более 127 символов)</label>

            </div>

            <div class="wrapper-button">

                <button id="btn-create-app" class="create-application-operator">

                    <i class="fa fa-plus" aria-hidden="true"></i>

                </button>

            </div>

        </form>

    </div>

</div>

<div class="new-application">

    <div class="header-new-app">

        <span>Новые заявки</span>

    </div>

    <div class="body-new-app">

        <div>

            <div class="container-new-app">

                <div class="number-new-app">

                    <span>12345678</span>

                </div>

                <div class="descrip-new-app">

                    <span>Заявка-хуявка, ул.В.Интернационалистов, 10-344, тел.1234567990, Петров Петр Петрович, фирма "Хуйня-муйня" и так далее и тому подобное</span>

                </div>

                <div class="confirm">

                    <input type="checkbox"/>

                </div>

            </div>

            <div class="container-new-app">

                <div class="number-new-app">

                    <span>12345678</span>

                </div>

                <div class="descrip-new-app">

                    <span>Заявка-хуявка, ул.В.Интернационалистов, 10-344, тел.1234567990, Петров Петр Петрович, фирма "Хуйня-муйня" и так далее и тому подобное</span>

                </div>

                <div class="confirm">

                    <input type="checkbox" />

                </div>

            </div>

            <div class="container-new-app">

                <div class="number-new-app">

                    <span>12345678</span>

                </div>

                <div class="descrip-new-app">

                    <span>Заявка-хуявка, ул.В.Интернационалистов, 10-344, тел.1234567990, Петров Петр Петрович, фирма "Хуйня-муйня" и так далее и тому подобное</span>

                </div>

                <div class="confirm">

                    <input type="checkbox" />

                </div>

            </div>

            <div class="container-new-app">

                <div class="number-new-app">

                    <span>12345678</span>

                </div>

                <div class="descrip-new-app">

                    <span>Заявка-хуявка, ул.В.Интернационалистов, 10-344, тел.1234567990, Петров Петр Петрович, фирма "Хуйня-муйня" и так далее и тому подобное</span>

                </div>

                <div class="confirm">

                    <input type="checkbox" />

                </div>

            </div>

            <div class="container-new-app">

                <div class="number-new-app">

                    <span>12345678</span>

                </div>

                <div class="descrip-new-app">

                    <span>Заявка-хуявка, ул.В.Интернационалистов, 10-344, тел.1234567990, Петров Петр Петрович, фирма "Хуйня-муйня" и так далее и тому подобное</span>

                </div>

                <div class="confirm">

                    <input type="checkbox" />

                </div>

            </div>

            <div class="container-new-app">

                <div class="number-new-app">

                    <span>12345678</span>

                </div>

                <div class="descrip-new-app">

                    <span>Заявка-хуявка, ул.В.Интернационалистов, 10-344, тел.1234567990, Петров Петр Петрович, фирма "Хуйня-муйня" и так далее и тому подобное</span>

                </div>

                <div class="confirm">

                    <input type="checkbox" />

                </div>

            </div>


        </div>

        <div class="redirect-app">

            <button class="btn-close-redirect-menu">

                <i class="fa fa-times" aria-hidden="true"></i>

            </button>

            <form action="#" method="post">

                <span class="title-name-mobile">Техник</span>

                <select class="element-mobile select-mobile">

                    <option disabled></option>

                </select>

                <button class="btn-redirect-tech">ПЕРЕНАПРАВИТЬ</button>

            </form>

        </div>

    </div>

    <div class="footer-new-app">

        <button class="btn-action indent-right">

            <i class="fa fa-trash" aria-hidden="true"></i>

        </button>

        <button class="btn-action indent-right">

            <i class="fa fa-user" aria-hidden="true"></i>

        </button>

    </div>

</div>
