﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/img/favicon/favicon.ico" type="image/x-icon">
    <title>Вход</title>
    @Styles.Render("~/ContentAccount/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="main-container-account">

        <div class="body-account">

            <div class="embleme-ovo"></div>

            <span class="name-vng">РОСГВАРДИЯ</span>

            <span class="descript">Отдел вневедомственной охраны по г. Новочебоксарск - филиал ФГКУ "УВО ВНГ России по Чувашской Республике"</span>

            <div class="block-data-user">

                <form method="post" , action="#">

                    <div class="wrapper-input account">

                        <input autocomplete="off" id="login" class="" type="text" />
                        <label id="label-login" class="label-input" for="login">Логин</label>

                        <div class="img-input">

                            <i class="fa fa-user" aria-hidden="true"></i>

                        </div>

                    </div>

                    <div class="wrapper-input account">

                        <input autocomplete="off" id="password" class="" type="text" />
                        <label id="label-password" class="label-input" for="password">Пароль</label>

                        <div class="img-input">

                            <i class="fa fa-lock" aria-hidden="true"></i>

                        </div>

                    </div>

                    <button id="btn-input" class="button-account">Войти</button>

                </form>

            </div>

            <a href="/Account/Registering" class="registr">Регистрация</a>

        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")

</body>
</html>
