﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/img/favicon/favicon.ico" type="image/x-icon">
    <title>Регистрация</title>
    @Styles.Render("~/ContentAccount/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="main-container-account">

        <div class="body-registr">

            <div class="embleme-ovo"></div>

            <div class="block-data-user">

                <form method="post" , action="#">

                    <div class="wrapper-input account-register">

                        <input autocomplete="off" id="login-reg" class="" type="text" />
                        <label id="label-login-reg" class="label-input" for="login-reg">Логин</label>

                    </div>

                    <div class="wrapper-input account-register">

                        <input autocomplete="off" id="password-reg" class="" type="text" />
                        <label id="label-password-reg" class="label-input" for="password-reg">Пароль</label>

                    </div>

                    <div class="wrapper-input account-register">

                        <input autocomplete="off" id="password-reg" class="" type="text" />
                        <label id="label-password-reg" class="label-input" for="password-reg">Email</label>

                    </div>

                    <button id="btn-register" class="button-register">Зарегистрироваться</button>

                </form>

            </div>

            <a href="/Account/Index" class="backward">Назад</a>

        </div>

    </div>

</body>
</html>
