﻿.main-container-account {
    width: 100%;
    max-width: 400px;
    min-width: 260px;
    height: 100vh;
    min-height: 560px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-account {
    display: table;
    width: calc(100% - 30px);
    height: 500px;
    box-shadow: 0px 4px 11px -4px;
    background-color: #fff;
}

.embleme-ovo {
    width: 80px;
    height: 80px;
    background-image: url(img/vng.png);
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: contain;
    margin: 18px auto 20px auto;
}

.descript {
    font-size: 16px;
    font-weight: 400;
    display: block;
    text-align: center;
    color: #951a1d;
    padding: 0 7px;
}

.name-vng {
    font-size: 22px;
    font-weight: 400;
    display: block;
    text-align: center;
    color: #951a1d;
    margin: 7px auto;
}

.block-data-user {
    margin: 0px auto 0px auto;
    display: table-row;
    width:inherit;
}

#label-login, #label-password {
    font-size: 17px;
    top: 4px;
}

.button-account {
    border: none;
    background-color: #fff;
    color: #757575;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    display: block;
    margin: 40px 50px 0 auto;
}

.button-account:hover{
    color:#951a1d;
}

.body-registr {
    width: calc(100% - 30px);
    height: 500px;
    box-shadow: 0px 4px 11px -4px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.registr {
    background-color: #fff;
    color: #757575;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 20px auto 15px auto;
    text-align: center;
    text-decoration: none;
}

.registr:hover{
    color:#951a1d;
}

.button-register {
    width: calc(100% - 20px);
    height: 40px;
    background-color: #951a1d;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    border: 1px solid #951a1d;
    color: #fff;
    font-size: 17px;
    display: block;
    margin: 0 auto;
}

.backward{
    display:block;
    font-size:16px;
    color:#757575;
    margin:40px auto 0 auto;
    text-decoration:none;
}