﻿
.left-navbar {
    height: 100%;
    min-height: 500pt;
    width: 100px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #37474F;
    /*display: flex;*/
    flex-direction: column;
    flex-wrap: wrap;
}

.attic-navbar{
    flex-grow:0;
}

.body-navbar{
    flex-grow:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.menu-admin{
    
}

.menu-admin > li{
    list-style:none;
    text-align:center;
    line-height:60px;
}

.menu-admin > li:hover {
    background-color: #455A64;
    border-left: 4px solid #4DD0E1;
}

.menu-admin > li:hover a{
    padding-right:4px;
}

.menu-admin > li > a{
    text-decoration:none;
    font-size:32px;
    color:#fff;
}

.menu-admin > li > a:hover,
.menu-admin > li > a:focus,
.menu-admin > li > a:active{
    
}

.footer-navbar {
    flex-grow: 0;
    flex-basis: auto;
    flex-shrink: 0;
}

.main {
    width: calc(100% - 100px);
    min-width: 760px;
    height: 100vh;
    /*display: flex;*/
    flex-direction: column;
    margin-left: 100px;
}

.header-admin {
    width:calc(100% - 100px);
    height: 60px;
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    flex-grow: 0;
    box-shadow: 0px 8px 9px -13px #000000;
}

.box-header-admin{
    width:100%;
    max-width:1280px;
    min-width:760px;
    height:inherit;
    margin:0 auto;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:flex-end;
    align-items:center;
}

.message-admin {
    min-width: 40px;
    height: 40px;
    position: relative;
    text-align:center;
}

.message-admin a{
    color: #B0BEC5;
    font-size:22px;
    margin:0 30px;
}

.count-message-admin {
    font-size: 20px;
    color: #FF7043;
    position: absolute;
    top: 3px;
    right: -11px;
}

#count-message-a{
    display:none;
}

.name-admin {
    flex-grow: 1;
    margin: 0px 10px;
}

.box-name-a {
    width: 150px;
    min-width: calc(100% - 130px);
    height: 50px;
    margin-left: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.box-name-a span {
    line-height: 2.5em;
    color: #616161;
    font-size: 20px;
}

.img-admin {
    flex-grow: 0;
    width: 45px;
    min-width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #E0E0E0;
    background-color: #fff;
    margin: 0px 10px;
    background-image: url(img/admin.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.output-admin {
    flex-grow: 0;
    margin:0px 20px 0px 5px;
}

.output-admin a{
    font-size:27px;
    color:#9E9E9E;
}

.section-admin{
    flex-grow:1;
}

.center-block-body-admin {
    width: 100%;
    height: 100%;
    max-width: 1280px;
    min-width: 760px;
    margin: 0px auto;
    padding-top: 60px;
    position: relative;
    overflow-x: hidden;
}

.line-flex{
    display:flex;
    justify-content:center;
}

.container-info {
    display: inline-flex;
    align-items:center;
    width: 200px;
    min-width: 200px;
    height: 80px;
    margin: 30px 10px 20px 10px;
    box-shadow: 0px 8px 9px -9px #000000;
}

.info-circle{
    width:60px;
    min-width:60px;
    height:60px;
    background-color:#fff;
    border-radius:50%;
    margin-left:10px;
}

.circle-users {
    background-image: url(img/user.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.circle-support {
    background-image: url(img/support.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.circle-worker {
    background-image: url(img/worker.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.count-user{
    font-size:36px;
    font-weight:300;
    color:#fff;
    margin:0 auto;
}

.container-info-tech {
    display: inline-flex;
    flex-direction: column;
    width: 420px;
    min-width: 400px;
    height: 200px;
    margin: 10px 10px 20px 10px;
    box-shadow: 0px 3px 15px -9px #000000;
    background-color: #fff;
}

.header-container-info {
    width: 100%;
    height: 30px;
    background-color: #69ccc6;
    flex-grow: 0;
    color: #fff;
}

.header-container-info span{
    margin:0 10px;
    line-height:28px;
}

.body-container-info{
    flex-grow:1;  
}

.container-list-tech,
.container-list-app{
    height:150px;
    margin:7px 0 0 0;
    overflow-y:auto;
}

.container-info-app {
    display: inline-block;
    width: 200px;
    min-width: 200px;
    height: 200px;
    margin: 10px 10px 20px 10px;
    box-shadow: 0px 3px 15px -9px #000000;
    background-color: #fff;
}

.line-app{
    display:block;
    line-height:38px;
    font-size:16px;
    margin-left:20px;
}

.container-graf {
    display: flex;
    flex-direction: column;
    width: 640px;
    height: 400px;
    margin: 10px auto 30px auto;
    box-shadow: 0px 3px 15px -9px #000000;
    background-color: #fff;
}

#info-user {
    background-color: #a68ad8;
}

#info-tech {
    background-color: #ea8484;
}

#info-operator {
    background-color: #FFCA28;
}

.box-user,
.box-firma, .box-street,
.box-settings {
    width: 100%;
    max-width: 900px;
    /*height: 1050px;*/
    margin: 30px auto 30px auto;
    padding-bottom: 25px;
    background-color: #fff;
    box-shadow: 0px 3px 15px -9px #000000;
    display: flex;
    flex-direction: column;
}

.box-header{
    flex-grow:0;
    text-align:center;
}

.box-body{
    flex-grow:1;
}

.tabs-option {
    width: 35px;
    min-width: 35px;
    height: 35px;
    border: 1px solid #607D8B !important;
    outline: none;
    border-radius: 50%;
    background-color: #fff;
    color: #607D8B;
    font-size: 18px;
    margin: 7px 7px 12px 7px;
    cursor: pointer;
}

.tabs-option i{
    vertical-align:middle;
}

.button-admin-style {
    width: 60px;
    min-width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: #c6b6e4;
    color: #fff;
    font-size: 19px;
    margin: 10px 50px 15px auto;
    box-shadow: 0px 6px 13px -7px #000000;
    outline: none;
}

    .button-admin-style:hover {
        background-color: #B39DDB;
    }

.list-block {
    width: 100%;
}

.list-flex{
    flex-direction:row;
    flex-wrap:nowrap;
}

#list-user-add {
    display: block;
}

#list-user-edit {
    display: none;
}

#list-user-delete {
    display: none;
}

#list-firma-add {
    display: block;
}

#list-firma-edit {
    display: none;
}

#list-firma-delete {
    display: none;
}

#list-street-add {
    display: block;
}


#list-street-delete {
    display: none;
}

#list-net-add {
    display: block;
}


#list-net-delete {
    display: none;
}

.box-search{
    width:calc(100% - 30px);
    margin:5px auto 15px auto;
    position:relative;
}

.button-search-style {
    position: absolute;
    width: 50px;
    height: 30px;
    outline: none;
    border: none;
    background-color: #69ccc6;
    top: 1px;
    right: -1px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}

.left-container,
.right-container {
    flex-grow: 1;
    width: 100%;
}

.right-container{
    text-align:center;
}

.box-table {
    height: 800px;
    overflow-y: auto;
}

.tbody-style > tr > td:nth-child(3) {
    width: 15px;
    min-width: 15px;
    height: 15px;
}

.tbody-style > tr:hover {
    cursor: pointer;
}

.list-user-delete {
    display:flex;
}

.table-style {
    border-collapse: collapse;
}


.tbody-style tr > td:nth-child(1),
.tbody-style > tr > td:nth-child(2){
    width:33%;
    font-size:15px;
}

.tbody-style > tr > td:nth-child(3){
    width:33%;
}

.tbody-style > tr {
    border-bottom: 1px solid #E0E0E0;
}

.tbody-style > tr > td {
    padding: 7px 7px;
}

.tabs {
    width: calc(100% - 30px);
    margin: 20px auto 0 auto;
    text-align: center;
}

.tabs > div, .tabs > input{
    display:none;
}

.tabs > .label-tabs {
    padding: 10px 5px;
    margin: 0 7px;
    line-height: 28px;
    cursor: pointer;
    position: relative;
    background: #fff;
}


.tabs > input:nth-of-type(1):checked ~ div:nth-of-type(1),
.tabs > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.tabs > input:nth-of-type(3):checked ~ div:nth-of-type(3) {
    padding: 5px;
    margin: 20px 0;
}

.tabs > input:nth-of-type(1):checked ~ div:nth-of-type(1){
    display: block;
}

.tabs > input:nth-of-type(2):checked ~ div:nth-of-type(2),
.tabs > input:nth-of-type(3):checked ~ div:nth-of-type(3){
    display:flex;
}

.box-name-general-settings{
    display:block;
    text-align:center;
    margin:10px 0;
}

.box-general-settings {
    width: calc(100% - 40px);
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.span-size-a{
    font-size:16px;
}

/* Стили для чата */

.chat-lk {
    width: 100%;
    height: 80vh;
    min-height: 350px;
    max-width: 570px;
    min-width: 300px;
    margin: 30px auto 30px auto;
    background-color: #fff;
    box-shadow: 0px 3px 15px -9px #000000;
}

.header-chat-lk {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #BDBDBD;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.button-action-chat {
    width: 30px;
    min-width: 30px;
    height: 30px;
    margin: 0 10px;
    color: #fff;
    font-size: 16px;
    border: none !important;
    background-color: #69ccc6;
    outline: none;
    border-radius: 50%;
    box-shadow: 0px 4px 12px -5px #000;
    cursor: pointer;
}

    .button-action-chat i {
        vertical-align: top;
    }

.wrapper-search-lk {
    position: relative;
    width: 40%;
    height: 24px;
    margin-left: 10px;
}

.wrapper-search-lk > input {
    position: absolute;
    top: 0px;
    border: 1px solid #69ccc6;
    height: 22px;
    font-size: 16px;
}

.button-search-lk {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #69ccc6;
    outline: none;
    border: none;
    top: 0px;
    right: -24px;
    color: #fff;
    cursor: pointer;
}

.button-settings-lk {
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: #fff;
    outline: none;
    border: none;
    top: 0px;
    right: -64px;
    color: #69ccc6;
    cursor: pointer;
    font-size: 22px;
    line-height: 22px;
}

.body-chat-lk {
    width: 100%;
    height: calc(100% - 112px);
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    background-position: center, center;
    background-size:cover;
}

.settings-search {
    position: absolute;
    width: 100%;
    height: 200px;
    top: -62%;
    background-color: #78909C;
    z-index: 600;
}

.name-categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .name-categories > span {
        color: #fff;
        margin: 10px 10px;
    }

.box-categories {
    margin: 7px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

    .box-categories > span {
        color: #fff;
        font-size: 18px;
    }

.close-search-categories {
    width: 30px;
    min-width: 30px;
    height: 30px;
    border: none !important;
    outline: none;
    background-color: #78909C;
    color: #fff;
    font-size: 20px;
    margin: 10px 10px;
}

.contacts {
    position: absolute;
    left: -100%;
    width: 100%;
    background-color: #fff;
    z-index: 500;
}

#contacts-lk {
    display: none;
}

.container-user, .container-search-user {
    width: calc(100% - 20px);
    height: 40px;
    margin: 12px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.icon-user {
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #BDBDBD;
    margin: 0 15px;
    background-image:url(img/user25.png);
    background-repeat:no-repeat;
    background-position:center, center;
}

.fio-user {
    flex-grow: 1;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

    .fio-user > span {
        font-size: 16px;
    }

.action {
    width: 30px;
    min-width: 30px;
    height: 30px;
    margin: 0 10px;
    color: #78909C;
    font-size: 22px;
    border: none !important;
    background-color: #fff;
    outline: none;
    border-radius: 50%;
}

.search-users {
    position: absolute;
    left: -100%;
    width: 100%;
    background-color: #fff;
    z-index: 510;
}

#search-lk {
    display: none;
}

.user-chat {
    position: absolute;
    left: -00%;
    width: 100%;
}

.box-chat {
    display: block;
}

.message-style {
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    max-width:50%;
    font-size: 18px;
    word-wrap: hyphenate;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    padding: 10px;
}

.my-message {
    margin: 10px 30px 10px auto;
    background-color: #6090f3;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color:#fff;
}

.buddy-message {
    margin: 10px auto 10px 30px;
    background-color: #ede1d9;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    color: #424242;
}

.footer-chat-lk {
    width: 100%;
    height: 70px;
    border-top: 1px solid #BDBDBD;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.button-send {
    width: 40px;
    height: 40px;
    background-color: #fff;
    outline: none;
    border: none !important;
    color: #90A4AE;
    font-size: 22px;
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
}

.button-send:active{
    color:#69ccc6;
}


.wrapper-textarea-lk {
    width: 65%;
    height: 50px;
    position: relative;
    margin-left: 11px;
}

.wrapper-textarea-lk textarea {
    overflow-y: auto;
    word-wrap: break-word;
    font-size: 17px;
    color: #424242;
    font-weight: 400;
}

.btn-message {
    width: 30px;
    min-width: 30px;
    height: 30px;
    outline: none;
    border: 1px solid #fff !important;
    border-radius: 50%;
    background-color: #fff;
    color: #64B5F6;
    cursor: pointer;
    font-size: 20px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

.search-object{
    max-width:500px;
}

.reult-search-object {
    width: calc(100% - 30px);
    max-width: 500px;
    height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #BDBDBD;
    margin: 0 auto 30px auto;
}

.container-object{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:7px 0;
    border-bottom:1px solid #e1e1e1;
    margin:5px 10px;
}

.style-span-object {
    display: block;
    margin: 4px 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.rbtn-container-object {
    width: 18px;
    height: 18px;
    margin:4px;
}


@media screen and (min-width: 992px) {
    .title-admin{
        display:none;
    }

    .left-navbar {
        display: flex;
    }

    .main{
        display:flex;
    }
}

@media screen and (max-width: 992px) {

    .title-admin {
        display: block;
        margin:10% auto;
    }

    .mobile-img{
        width:150px;
        height:150px;
        border-radius:50%;
        background-image: url(img/mobile.png);
        background-position: center center;
        background-repeat: no-repeat;
        margin:0 auto;
    }

    .mobile-warning-text {
        display: block;
        text-align: center;
        font-size: 24px;
    }

    .left-navbar {
        display: none;
    }

    .main {
        display: none;
    }
}