﻿*, html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
    color:#424242;
    font-size:18px;
    font-family:'Segoe UI';
    font-weight:300;
}

select{
    border: none;
    border-bottom: 1px solid #B0BEC5;
    height: 30px;
    width: 100%;
    font-size: 20px;
    font-family: 'Segoe UI';
    font-weight: 200;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: url('img/down.ico') no-repeat right center;
    outline: none;
}

input {
    border: none;
    border-bottom: 1px solid #B0BEC5;
    height: 30px;
    width: 100%;
    font-size: 20px;
    font-family: 'Segoe UI';
    font-weight: 200;
    outline: none;
}

.input-search {
    border: 1px solid #69ccc6;
    line-height: 30px;
}

textarea {
    height: inherit;
    width: 100%;
    font-size: 20px;
    font-family: 'Segoe UI';
    font-weight: 200;
    border: none;
    border-bottom: 1px solid #B0BEC5;
    outline: none;
}

select::-ms-expand {
    display: none;
}

.wrapper-select, .wrapper-input,
.wrapper-textarea, .wrapper-select-search,
.wrapper-join{
    position: relative;
    width: calc(100% - 30px);
    max-width: 500px;
    margin: 15px auto;
}

.wrapper-button{
    text-align:right;
    margin:10px auto;
}

.wrapper-label-app {
    width: calc(100% - 30px);
    max-width: 300px;
    min-width: 200px;
    height: 40px;
    margin: 0 auto;
    background-color: #A1887F;
}

.wrapper-label-app label{
    line-height:38px;
}

.label-select, .label-input,
.label-textarea, .label-select-search {
    position: absolute;
    font-size: 20px;
    font-family: 'Segoe UI';
    font-weight: 300;
    margin-bottom: 0px;
    color: #9E9E9E;
    left: 0.5em;
    top: 0;
    display: block;
}

.wrapper-foto {
    width: 60px;
    height: 60px;
    margin: 30px auto;
    background-color: #B0BEC5;
    border-radius: 4px;
    background-image:url(img/fotocamera.png);
    background-repeat:no-repeat;
    background-position:center, center;
    
}

.wrapper-foto > input{
    opacity: 0;
    width: 60px;
    height: 60px;
}

.wrapper-join span{
    line-height:36px;
}


.indent-top{
    margin-top:15%;
}


.select-mobile {
    background: url('../Content/img/down18.png') no-repeat 98% center;
}

.element-mobile {
    background-color: rgba(120, 144, 156, 0.47);
    color: #fff;
    line-height: 32px;
    width: calc(100% - 30px);
    margin: 7px
}

input[type=checkbox]{
    width:18px;
    min-width:18px;
    height:18px;
}

.checkbox-style {
    margin: 0 0 0 calc(50% - 10px);
}


table {
    width: calc(100% - 30px);
    margin: 0 auto;
}

/* Toggle */

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 12px;
    margin:0 5px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #BDBDBD;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 19px;
        width: 19px;
        left: 0px;
        bottom: -4px;
        border: 1px solid #00e699;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #A7FFEB;
}

input:focus + .slider {
    box-shadow: 0 0 1px #80CBC4;
}

input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background-color: #00e699;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Toggle admin*/

.switch-a {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 12px;
    margin: 0 5px;
}

.switch-a input {
    display: none;
}

.slider-a {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #BDBDBD;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider-a:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 0px;
    bottom: -4px;
    border: 1px solid #2698da;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider-a {
    background-color: #c8e0eb;
}

input:focus + .slider-a {
    box-shadow: 0 0 1px #c8e0eb;
}

input:checked + .slider-a:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
    background-color: #2698da;
}


.slider-a.round-a {
    border-radius: 34px;
}

.slider-a.round-a:before {
    border-radius: 50%;
}


.account {
    width: calc(100% - 120px);
    margin: 32px auto;
}

.account-register {
    width: calc(100% - 40px);
    margin: 32px auto;
}

.img-input {
    position: absolute;
    font-size: 22px;
    top: 3px;
    left: -36px;
    color:#4d0000;
    opacity:0.4;
    display:none;
}

