﻿
.header-lk {
    width: 100%;
    background-color: #5C6BC0;
    position: fixed;
    z-index: 1000;
    box-shadow: 0px 2px 15px -9px #000000;
}

.header-mobile-lk {
    width: 100%;
    height: 40px;
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    border-bottom: 1px solid #C5CAE9;
    box-shadow: 0px 2px 15px -9px #000000;
    margin-top: 50px;
}

.i-header-mobile{
    margin:0 auto;
    position:relative;
}

.i-header-mobile > a {
    color: #7986CB;
    margin:0 15px;
    font-size: 26px;
}

.center-block-header-lk {
    width: 100%;
    max-width: 1280px;
    min-width: 300px;
    height: inherit;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    position:relative;
}

.main-menu-lk {
    margin-left:25px;
}

.main-menu-lk > li{
    display: inline-block;
    margin: 0px 15px 0px 15px;
    list-style: none;
}

.main-menu-lk > li > a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.name-user-lk {
    flex-grow: 1;
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#name-lk{
    color:#fff;
}

.img-lk {
    flex-grow: 0;
    width: 45px;
    min-width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    background-image: url(img/operator40.png);
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0px 10px;
}

.output {
    flex-grow: 0;
    margin: 0px 20px 0px 5px;
}

.output a{
    font-size: 27px;
    color: #fff;
}

.section-lk {
    width: 100%;
    height: 100vh;
}

.center-block-body-lk {
    width: 100%;
    max-width: 1280px;
    min-width: 300px;
    margin: 0px auto;
    position: relative;
    overflow-x: hidden;
}

.block-left {
    position: absolute;
    min-width: 60px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #7986CB;
    font-size:23px;
    z-index:950;
    top:60px;
    left:25px;
}

.block-left a{
    color: #7986CB;
}

.list-event-lk {
    position: absolute;
    z-index: 960;
    width: 300px;
    height: 400px;
    display: none;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 8px 20px -5px #000;
    border-radius: 4px;
    top: 55px;
    left: 0px;
}

.header-list-event-lk{
    flex-grow:0;
    width:100%;
    height:20px;
}

.body-list-event-lk {
    flex-grow: 1;
    overflow-y: auto;
}

.footer-list-event-lk{
    flex-grow:0;
    flex-basis:auto;
    flex-shrink:0;
    height:20px;
}

.container-event {
    width: calc(100% - 30px);
    border-bottom: 1px solid #9FA8DA;
    margin: 5px auto;
    text-align: left;
    padding:0px 8px 5px 8px;
    cursor:pointer;
}

.container-event > span{
    font-size:16px;
    font-weight:400;
    color:#424242;

}

.block-app{
    top:110px;
}

.block-bell {
    top: 160px;
}

#count-message-o, #count-event-o {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.count-block-left {
    position: absolute;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    background-color: #EF5350;
    border-radius: 20px;
    top: 14px;
    right: -10px;
}

.count-block-left > span{
    color:#fff;
    font-size:14px;
    margin:0 5px;
}

.guard-lk {
    display:flex;
    flex-direction:column;
    width: 100%;
    max-width: 570px;
    min-width: 300px;
    min-height:350px;
    margin: 30px auto 30px auto;
    background-color: #fff;
    padding-bottom:15px;
    box-shadow: 0px 3px 18px -6px #000000;
}

.header-guard-lk{
    display:flex;
    width:calc(100% - 30px);
    margin:15px auto;
}

.logo-service-firma {
    flex-grow: 0;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #C5CAE9;
    background-image: url(img/service.png);
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: 75%;
}

.service-organize {
    flex-grow: 1;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.name-service-firma {
    display: block;
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    color: #616161;
}

.container-guard-lk {
    width: calc(100% - 30px);
    margin: 10px auto;
    border: 1px solid #BCAAA4;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding-bottom: 5px;
    box-shadow: 0px 3px 14px -7px #000000;
}

.header-container-guard {
    flex-grow: 0;
    background-color: #BCAAA4;
    padding: 5px;
}

.address-object {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    line-height: 26px;
    display: block;
    text-align: center;
}

.body-container-guard{
    flex-grow:1;
    display:flex;
}

.status-object {
    min-width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #a3a3a3;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
    margin:10px 0;
}

.descript-status-object {
    color: #a3a3a3;
    font-size: 20px;
    font-weight: 400;
}

.footer-container-guard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.block {
    width: 100%;
    max-width: 160px;
    height: 80px;
    margin: 8px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.block > span{
    margin:0 auto;
    text-align: center;
}

.img-sim {
    width: 50px;
    height: 50px;
    background-image: url(img/sim.png);
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover;
}

.img-akkb {
    width: 50px;
    height: 50px;
    background-image: url(img/akk.png);
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover;
}

.img-vskorp {
    width: 50px;
    height: 50px;
    background-image: url(img/micshm.png);
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: cover;
}

.application-lk {
    width: 100%;
    max-width: 570px;
    min-width: 300px;
    padding-top: 10px;
    margin: 30px auto 30px auto;
    background-color: #fff;
    box-shadow: 0px 3px 18px -6px #000000;
}

/* Стили для чата */


.chat-lk {
    width: 100%;
    height: 80vh;
    min-height: 350px;
    max-width: 650px;
    min-width: 300px;
    margin: 30px auto 30px auto;
    background-color: #fff;
    box-shadow: 0px 3px 16px -6px #000000;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
}

.wrapper-navchat {
    background-image: url(img/background/nav_fon_1.jpg);
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navchat {
    width: 250px;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(65, 78, 98, 0.72);

}

.mainchat{
    flex-grow:1;
}

.container-user-chat{
    width:calc(100% - 30px);
    height:40px;
    margin:10px auto;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items:center;
    justify-content:flex-start;
    cursor:pointer;
}

.icon-user-chat{
    min-width:30px;
    height:30px;
    border-radius:50%;
    border:1px solid #fff;
    background-image:url(img/user25.png);
    background-repeat:no-repeat;
    background-position:center, center;
    position:relative;
}

.status-subscriber-lk {
    position: absolute;
    min-width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00C853;
    bottom: 0;
    right: 0;
    z-index: 600;
}

.delete-subscriber-lk {
    position: absolute;
    min-width: 13px;
    height: 13px;
    background-color: rgba(255, 255, 255, 0.00);
    color: #fff;
    display: grid;
    font-size: 13px;
    top: -4px;
    left: -4px;
    z-index: 600;
    opacity:0;
}

.icon-user-chat:hover .delete-subscriber-lk{
    opacity:1;
}

.fio-user-chat {
    flex-grow: 1;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 5px;
}

.fio-user-chat > span{
    color:#fff;
    font-size:14px;
    font-weight:300;
}


.header-chat-lk {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #BDBDBD;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.message-user-chat {
    opacity:0;
    min-width:20px;
    margin: 0 3px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color: #F44336;
    color:#fff;
    font-size:14px;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
}

.message-user-chat > span{
    margin:0 3px;
}
.message-user-chat > i{
    color:#9e9e9e;
    font-size:17px;

}

.button-action-chat {
    width: 30px;
    min-width: 30px;
    height: 30px;
    margin: 0 auto 0 14px;
    color: #fff;
    font-size: 16px;
    border: none !important;
    background-color: #f79a93;
    outline: none;
    border-radius: 50%;
    box-shadow: 0px 4px 12px -5px #000;
    cursor: pointer;
}

.button-action-chat i{
    vertical-align:top;
}

.wrapper-search-lk {
    position: relative;
    width: 40%;
    height: 24px;
    margin-right: 10%;
}

.wrapper-search-lk > input {
    position: absolute;
    top: 0px;
    border-bottom:1px solid #d0d0d0; 
    height: 22px;
    font-size: 16px;
    padding-left:6px;
    padding-right:6px;
}

.button-search-lk {
    position: absolute;
    width: 30px;
    height: 24px;
    background-color: #fff;
    outline: none;
    border: none;
    left: -30px;
    font-size: 18px;
    color: #9e9e9e;
    cursor: pointer;
}

.button-settings-lk {
    width: 24px;
    height: 24px;
    background-color: #fff;
    outline: none;
    border: none;
    color: #acacac;
    font-size: 23px;
    cursor: pointer;
    margin-right: 15px;
}

.body-chat-lk {
    width: 100%;
    height: calc(100% - 112px);
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url(img/background/chat_fon.png);
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
}

.settings-search {
    position: absolute;
    width: 100%;
    height: 200px;
    top: -220px;
    background-color: rgba(94, 102, 118, 0.85);
    z-index:600;
}

.name-categories{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.name-categories > span{
    color:#fff;
    margin:10px 10px;
}

.box-categories{
    margin:7px 30px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

.box-categories > span{
    color:#fff;
    font-size:18px;
}

.close-search-categories {
    width: 30px;
    min-width: 30px;
    height: 30px;
    border: none !important;
    outline: none;
    background-color: rgba(255, 255, 255, 0.00);
    color:#fff;
    font-size:20px;
    margin:10px 10px;
}

.contacts {
    position: absolute;
    left: -100%;
    width: 100%;
    background-color: #fff;
    z-index: 500;
    background-color: rgba(94, 102, 118, 0.85);
}

.container-user, .container-search-user {
    width: calc(100% - 20px);
    height: 40px;
    margin: 12px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.icon-user {
    width: 30px;
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #BDBDBD;
    margin: 0 15px;
    background-image:url(img/user25.png);
    background-repeat:no-repeat;
    background-position:center, center;
}

.fio-user, .fio-user-search {
    flex-grow: 1;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.fio-user > span{
    font-size:16px;
    color:#fff;
}

.fio-user-search > span{
    font-size:16px;
    color:#424242;
}

.action {
    width: 30px;
    min-width: 30px;
    height: 30px;
    margin: 0 10px;
    color: #fff;
    font-size: 22px;
    border: none !important;
    background-color: #FFAB91;
    outline: none;
    border-radius: 50%;
}

.action-search {
    width: 30px;
    min-width: 30px;
    height: 30px;
    margin: 0 10px;
    color: #fff;
    font-size: 15px;
    border: none !important;
    background-color: #9FA8DA;
    outline: none;
    border-radius: 50%;
}

.link-message {
    width: 30px;
    min-width: 30px;
    height: 30px;
    margin: 0 10px;
    color: #fff;
    font-size: 22px;
    border: none !important;
    background-color: rgba(94, 102, 118, 0.00);
    outline: none;
    border-radius: 50%;
    text-align: center;
    position: relative;
}

.message-user-mobile {
    position: absolute;
    min-width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #EF5350;
    top: 0;
    right: -18px;
    z-index: 600;
    opacity:0;
}

.message-user-mobile > span{
    margin:0 3px;
    color:#fff;
    font-size:14px;
}

.search-users {
    position: absolute;
    left: -105%;
    width: 100%;
    background-color: #fff;
    z-index: 510;
    box-shadow: 0px 3px 16px -6px #000000;
}

.close-list-search {
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.00);
    color: #acacac;
    font-size: 23px;
    display: block;
    margin: 8px auto 0 16px;
}


}

#search-lk {
    display: block;
}

.user-chat {
    position: absolute;
    left: -00%;
    width: 100%;
}

.box-chat{
    display:block;
}

.message-style {
    width: fit-content;
    width:-moz-fit-content;
    width:-webkit-fit-content;
    max-width: 50%;
    color: #424242;
    font-size: 18px;
    text-align: justify;
    word-wrap: hyphenate;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    padding: 10px;
}

.my-message {
    margin: 10px 30px 10px auto;
    background-color: #64B5F6;
    color: #fff;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.buddy-message {
    margin: 10px auto 10px 30px;
    background-color: #e8e8e9;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}

.footer-chat-lk {
    width: 100%;
    height: 70px;
    border-top: 1px solid #BDBDBD;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.button-send {
    width: 40px;
    height: 40px;
    background-color: #fff;
    outline: none;
    border: none !important;
    color: #5C6BC0;
    font-size: 22px;
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
}

/*  Старые стили */


.wrapper-calendare {
    margin-top: 30px;
    display: block;
    width: calc(100% - 20px);
    margin: 0 auto;
}

.calendare-lk {
    width: 100%;
    max-width: 300px;
    height: 320px;
    margin: 0 auto 30px auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 19px -8px #000000;
}

.mounth-lk {
    width: 100%;
    height: 80px;
    background-color: #FF8A65;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.mounth-lk span {
    flex-grow: 1;
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 22px;
}

.mounth-lk button {
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: #FF8A65;
    cursor: pointer;
    margin: 0 25px 0 0;
}

.mounth-lk button i {
    color: #fff;
    font-size: 36px;
}

.data-mounth-lk {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.time-lk {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    background-color: rgba(66, 66, 66, 0.66);
    z-index: 500;
    text-align: center;
}

.btn-close-time-lk {
    border: none !important;
    outline: none;
    display: block;
    width: 25px;
    min-width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #fff !important;
    background-color: rgba(161, 160, 160, 0.48);
    color: #fff;
    margin: 10px 0 0 10px;
    cursor: pointer;
}

.time-hour, .time-minute {
    background-color: rgba(161, 160, 160, 0.48);
    width: 20%;
    min-width: 50px;
    margin-bottom: 10px;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-ok-time-lk {
    border: none !important;
    outline: none;
    display: block;
    width: 40px;
    min-width: 40px;
    height: 25px;
    border: 1px solid #fff !important;
    background-color: rgba(161, 160, 160, 0.48);
    color: #fff;
    margin-right: 30px;
    margin-left: auto;
    margin-top: 70px;
    cursor: pointer;
}

.button-client-style {
    width: 50px;
    min-width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #A5D6A7;
    color: #fff;
    font-size: 19px;
    margin: 10px 90px 30px auto;
    box-shadow: 0px 6px 13px -7px #000000;
    outline: none;
}

.button-client-style:hover {
    background-color: #66BB6A;
}

.table-calendare {
    width: 100%;
}

.tr-style > th, .tr-style > td {
    font-weight: 300;
    text-align: center;
    line-height: 1.8em;
}

tr > td:hover {
    background-color: #8C9EFF;
    color:#fff;
}

.wrapper-label-lk {
    width: calc(100% - 30px);
    max-width: 300px;
    min-width: 200px;
    height: 40px;
    margin: 0 auto;
    background-color: #A1887F;
    text-align:center;
}

.wrapper-label-lk label{
    line-height:38px;
    color:#fff;
}


.wrapper-textarea-lk {
    width: 65%;
    height: 50px;
    position: relative;
    margin-left: 11px;
}

.wrapper-textarea-lk textarea{
    overflow-y: auto;
    word-wrap: break-word;
    font-size:17px;
    color:#424242;
    font-weight:400;
}

.btn-message {
    width: 30px;
    min-width: 30px;
    height: 30px;
    outline: none;
    border: 1px solid #fff !important;
    border-radius: 50%;
    background-color: #fff;
    color: #64B5F6;
    cursor: pointer;
    font-size: 20px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0);
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

.history-lk {
    width: 100%;
    width: 100%;
    max-width: 570px;
    min-width: 300px;
    height: 80vh;
    min-height: 650px;
    padding-top: 10px;
    margin: 30px auto 30px auto;
    background-color: #fff;
    box-shadow: 0px 3px 18px -6px #000000;
    display: flex;
    flex-direction: column;
}

.header-history-lk{
    flex-grow:0;
    text-align:center;
}

.body-history-lk{
    flex-grow:1;
    overflow-y:auto;
}

.width-lk{
    width:160px;
}

.ask-history {
    border: none !important;
    border-radius: 20px;
    outline: none;
    width: 116px;
    background-color: #2ECC71;
    color: #fff;
    line-height: 35px;
    margin: 25px calc(50% - 50px) 25px;
    cursor: pointer;
    font-size:16px;
}

.item-history-lk {
    width: calc(100% - 30px);
    border-bottom: 1px solid #B0BEC5;
    margin: 5px auto;
    padding-bottom:5px;
}

.item-history-lk > span{
    font-size: 16px;
    margin: 0 5px;
    overflow-wrap: break-word;
}

.footer-history-lk{
    width:100%;
    height:30px;
}

.settings-lk {
    width: 100%;
    max-width: 570px;
    min-width: 300px;
    height:700px;
    padding-top: 10px;
    margin: 30px auto 30px auto;
    background-color: #fff;
    box-shadow: 0px 3px 18px -6px #000000;
}

.bind-lk {
    width: 100%;
    max-width: 570px;
    min-width: 300px;
    padding-top: 10px;
    margin: 30px auto 30px auto;
    background-color: #fff;
    padding-bottom: 1px;
    box-shadow: 0px 3px 18px -6px #000000;
}

.bind-object {
    margin: 0 auto;
}

.title-user-object {
    display: block;
    margin: 15px auto 24px 85px;
    color: #5C6BC0;
    font-weight:400;
}

.list-object-user {
    margin: 20px auto 20px auto;
    height:200px;
    overflow-y:auto;
    overflow-x:hidden;
}

.container-list-object-user {
    width: calc(100% - 30px);
    margin: 5px auto;
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
    align-items:center;
    padding: 7px 7px;
}

.descript-object-user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.delete-object-user {
    min-width: 40px;
    height: 40px;
    border: 2px solid #FFAB91;
    border-radius: 50%;
    background-color: #fff;
    color: #FFAB91;
    font-size: 24px;
    outline: none;
    cursor: pointer;
    margin: 0 5px;
}

.button-lk-style {
    width: 50px;
    min-width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #A5D6A7;
    color: #fff;
    font-size: 19px;
    margin: 10px 0px 15px auto;
    box-shadow: 0px 6px 13px -7px #000000;
    outline: none;
}

.button-lk-style:hover{
    background-color:#66BB6A;
}

.button-delete-object {
    background-color: #EF9A9A;
}

.button-delete-object:hover{
    background-color:#E57373;
}

.enable-edit-profile {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin: 15px auto 35px auto;
}

.box-center-profile {
    margin: 0 auto;
}

#box-profile{
    pointer-events:none;
    opacity:0.5;
}


@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 992px) {
    .button-action-chat {
        display:none;
    }

    #contacts-lk {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .navchat{
        display:none;
    }

    .chat-lk{
        max-width:400px;
    }

    .button-action-chat {
        display:block;
    }

    #contacts-lk {
        display: block;
    }

    .history-lk{
        max-width:570px;
    }

    .settings-lk{
        max-width:570px;
    }
}

@media screen and (min-width: 768px) {

    .main-menu-lk{
        display:block;
    }

    .header-lk{
        height:60px;
    }

    .img-lk {
        display: block;
    }

    .output > a{
        font-size:27px;
    }

    .header-mobile-lk{
        display:none;
    }

    .center-block-body-lk{
        padding-top:60px;
    }

    .item-history-lk{
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
        justify-content:flex-start;
        align-items:center;
    }

    .data-history-lk{
        min-width:100px;
    }

    .tech-lk{
        min-width:150px;
    }

    .descript-history-lk,
    .result-work-lk{
        width:100%;
    }

    .block-bell:hover #list-event{
        display:flex;
    }

}

@media screen and (max-width: 768px) {

    .main-menu-lk {
        display: none;
    }

    .header-lk {
        height: 50px;
    }

    .output > a {
        font-size: 23px;
    }

    .header-mobile-lk {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .img-lk {
        display: none;
    }

    .center-block-body-lk {
        padding-top: 80px;
    }

    .item-history-lk {
        display: flex;
        flex-direction: column;
        align-items:flex-start;
    }

    .block-left{
        display:none;
    }

}

@media screen and (min-width: 576px) {
    
    #name-lk{
        font-size:20px;
    }

    .wrapper-calendare{
        display:block;
    }

    .data-time-app-mobile{
        display:none;
    }

    .box-center-profile{
        width:calc(100% - 180px);
    }

    .bind-object {
        width: calc(100% - 180px);
    }

    .list-object-user {
        width: calc(100% - 180px);
    }

    .button-delete-object {
        margin: 0 90px 25px auto;
    }

    .header-guard-lk {
        flex-direction: row;
        flex-wrap:nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    .body-container-guard{
        flex-direction:row;
        flex-wrap:nowrap;
        justify-content:space-around;
        align-items:center;
    }

}

@media screen and (max-width: 576px) {

    #name-lk{
        font-size: 15px;
    }

    .data-time-app-mobile {
        display: block;
    }

    .box-center-profile {
        width: calc(100% - 30px);
    }

    .button-client-style{
        margin-right:50px;
    }

    .button-lk-style{
        margin-right:40px;
    }

    .bind-object {
        width: calc(100% - 30px);
    }

    .list-object-user {
        width: calc(100% - 30px);
    }

    .button-delete-object {
        margin: 0 53px 25px auto;
    }

    .header-guard-lk{
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }

    .body-container-guard {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}