﻿.header-operator {
    width: 100%;
    height: 60px;
    background-color: #42A5F5;
    position: fixed;
    z-index: 1000;
}

.center-block-header-operator{
    width: 100%;
    max-width: 1280px;
    min-width: 300px;
    height: inherit;
    margin:0px auto;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items:center;
}

.signal-msg {
    min-width: 40px;
    height: 40px;
    background-color: #42A5F5;
    border: 1px solid #42A5F5;
    outline: none;
    cursor: pointer;
    margin: 0 15px 0 10px;
}

.signal-msg i{
    color:#fff;
    font-size:20px;
    vertical-align:middle;
}

.bell, .message-operator {
    min-width: 40px;
    height: 40px;
    margin: 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:relative;
}

.bell i, .message-operator i{
    color:#fff;
    font-size:20px;
}

.count-message-operator {
    position: absolute;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    background-color: #EF5350;
    border-radius: 15px;
    top: 4px;
    right: -12px;
}

#count-msg-o {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.number-message-operator {
    font-size: 14px;
    color: #fff;
    margin: 0 5px;
}

.main-menu-operator {
    margin-left: 25px;
}

.main-menu-operator > li {
    display: block;
    margin: 20px;
    list-style: none;
}

.main-menu-operator > li > a {
    text-decoration: none;
    color: #fff;
    font-size:20px;
}

.main-menu-operator > li > a:hover, .main-menu-operator > li > a:focus, .main-menu-operator > li > a:active {
    color: #fff;
}

.name-operator {
    flex-grow: 1;
    margin:0px 10px;
}

.box-name-o {
    width: 150px;
    min-width: calc(100% - 130px);
    height: 50px;
    margin-left: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.box-name-o span{
    line-height:2.5em;
    color:#fff;
    font-size:20px;
}

.img-operator {
    flex-grow: 0;
    width: 45px;
    min-width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    background-image: url(img/operator40.png);
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0px 10px;
}

.output {
    flex-grow: 0;
    margin:0px 20px 0px 5px;
}

.output a{
    font-size:27px;
    color:#fff;
}

.section-operator {
    width: 100%;
    height: 100vh;
}

.center-block-body-operator {
    width: 100%;
    max-width: 1280px;
    min-width: 300px;
    margin:0px auto;
    padding-top:60px;
    position:relative;
    overflow-x:hidden;
}


.nav-menu-operator {
    display:none;
    position: fixed;
    width: 200px;
    top: 60px;
    left: -200px;
    bottom: 0;
    background-color: rgba(55, 71, 79, 0.68);
    z-index:960;
}

.close-nav-menu-operator {
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    outline: none;
    color: #fff;
    font-size: 16px;
    display: block;
    margin: 10px 10px 5px auto;
    background-color: rgba(255, 255, 255, 0.00);
}



.column-contacts {
    position: fixed;
    width: 100px;
    height: calc(100% - 60px);
    bottom: 0;
    right: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-shrink: 0;
    box-shadow: 0px 3px 15px -9px #000000;
    z-index: 950;
}

.header-column {
    flex-grow: 0;
    height: 40px;
}

.body-column {
    flex-grow: 1;
    overflow-y: hidden;
    overflow-x:hidden;
    position: relative;
}

.footer-column {
    flex-grow: 0;
    height: 40px;
}

.cursor-column {
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.00);
    border: 1px solid rgba(255, 255, 255, 0.00);
    outline: none;
    margin: 5px calc(50% - 15px);
    cursor: pointer;
}

.list-contacts{
    width:100%;
    position:absolute;
}

#list-technics {
    top: 0px;
}

.container-contacts {
    width: 100%;
    margin-bottom:5px;
}

.container-contacts:hover{
    cursor:pointer;
}

.row-icon, .row-fio {
    display: block;
    text-align: center;
    padding: 5px;
}

.wrapper-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
    border: 1px solid #82B1FF;
    position: relative;
    background-image: url(img/user28.png);
    background-repeat: no-repeat;
    background-position: center, center;
}

.count-message {
    position: absolute;
    width: 30px;
    height: 16px;
    border-radius: 10px;
    z-index: 200;
    background-color: #E53935;
    display: table-cell;
    top: 18px;
    right: -14px;
    visibility:hidden;
}

.count-message span{
    color:#fff;
    font-size:14px;
    vertical-align: text-top;
    line-height: 15px;
}

.status-contact {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #4CAF50;
    border-radius:50%;
    bottom:0;
    left:-4px;
    z-index:250;
}


.row-fio {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.row-fio > span{
    font-size:13px;
    color:#212121;
}

.box-for-write {
    position: fixed;
    width: 256px;
    height: 400px;
    z-index: 940;
    right:110px;
    bottom: 46px;
    background-color: #fff;
    box-shadow: 0px 4px 20px -4px #000000;
    display: none;
    flex-direction: column;
}

.box-write-header {
    flex-grow: 0;
    height: 30px;
    background-color: #fb7159;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.close-message {
    width: 25px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.00);
    border: 1px solid rgba(255, 255, 255, 0.00);
    border-radius:50%;
    background-image:url(img/close_whinte.png);
    background-repeat:no-repeat;
    background-position:center, center;
    outline:none;
    cursor:pointer;
}

.box-write-body{
    flex-grow:1;
    background-image:url(img/background/chat_fon.png);
    background-position:center, center;
    background-size:190px;
    overflow-y:auto;
}

.list-message{
    width:100%;
}

.msg-style {
    display: block;
    max-width: 60%;
    padding: 7px;
}


.bubby-msg {
    background-color: #eddede;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin: 5px auto 5px 5px;
}

.user-msg {
    background-color: #b4f6d6;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 5px 5px 5px auto;
}

.text-msg{
    font-size:16px;
}

.time-msg{
    display:block;
    font-size:10px;
    text-align:center;
    margin:3px auto;
}



.box-write-footer {
    flex-grow: 0;
    flex-basis: auto;
    flex-shrink: 0;
    height: 65px;
    border-top: 1px solid #f8c7bf;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items:center;
}

.wrapper-textarea-msg{
    flex-grow:1;
    margin:0 5px;
}

.wrapper-textarea-msg textarea{
    font-size:14px;
    overflow-x:hidden;
}

.send-message{
    min-width:30px;
    height:30px;
    border:1px solid rgba(255, 255, 255, 0.00);
    background-color:rgba(255, 255, 255, 0.00);
    background-image:url(img/send._coral.png);
    background-repeat:no-repeat;
    background-size:24px;
    cursor:pointer;
    margin:0 5px;
    background-position:center, center;
    outline:none;
}


#btn-up-list-tech {
    background-image: url(img/higher25.png);
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: 21px;
}

#btn-down-list-tech {
    background-image: url(img/following25.png);
    background-repeat: no-repeat;
    background-position: center, center;
    background-size: 21px;
}

.sticker {
    padding-top: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.sticker-all-app, .sticker-inwork-app, .sticker-done-app {
    width: 175px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    box-shadow: 0px 8px 9px -9px #000000;
}

.sticker-all-app {
    background-color: #8a70b7;
}

.sticker-inwork-app {
    background-color: #FFCA28;
}

.sticker-done-app {
    background-color: #00E676;
}

.embleme {
    color: #fff;
    display: block;
    text-align: left;
    padding: 5px 0 0 15px;
}

.descript-app, .count-app{
    color:#fff;
    font-weight:400;
    text-align:center;
}

.sticker-item{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:flex-start;
    align-items:center;
}

.ellips-color-app-mobile {
    width: 20px;
    min-width: 20px;
    height: 20px;
    border-radius: 50%;
    margin:5px 10px;
}

.text-app-mobile > span{
    font-size:22px;
}

.count-app-mobile {
    flex-grow: 1;
    text-align: right;
    margin-right: 10%;
}

.count-app-mobile > span{
    font-size:22px;
}

.ellips-all-app {
    background-color: #BA68C8;
}

.ellips-inwork-app {
    background-color: #FFD54F;
}

.ellips-done-app {
    background-color: #81C784;
}

.application {
    width: 100%;
    max-width: 570px;
    min-width: 300px;
    padding-top:10px;
    margin: 0 auto 30px auto;
    background-color: #fff;
    box-shadow: 0px 3px 18px -6px #000000;
}

.calendare {
    width: 100%;
    max-width: 300px;
    height: 320px;
    margin: 0 auto 30px auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 19px -8px #000000;
    
}

.mounth-app {
    width: 100%;
    height: 80px;
    background-color: #FFAB91;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.mounth-app span{
    flex-grow:1;
    text-align:center;
    color:#fff;
    font-weight:300;
    font-size:22px;
}

.mounth-app button{
    border:none;
    border-radius:50%;
    outline:none;
    background-color: #FFAB91;
    cursor:pointer;
    margin:0 25px 0 0;
}

.mounth-app button i{
    color:#fff;
    font-size:36px;
}

.data-mounth-app{
    position:relative;
    overflow-x:hidden;
    overflow-y:hidden;
}

.time-app {
    position: absolute;
    width: 100%;
    height: 100%;
    right:-100%;
    background-color: rgba(66, 66, 66, 0.66);
    z-index: 500;
    text-align:center;
}

.btn-close-time {
    border: none !important;
    outline:none;
    display: block;
    width: 25px;
    min-width: 25px;
    height: 25px;
    border-radius:50%;
    border:1px solid #fff !important;
    background-color: rgba(161, 160, 160, 0.48);
    color:#fff;
    margin:10px 0 0 10px;
    cursor:pointer;
}

.time-hour, .time-minute {
    background-color: rgba(161, 160, 160, 0.48);
    width: 20%;
    min-width: 50px;
    margin-bottom: 10px;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}

.btn-ok-time {
    border: none !important;
    outline: none;
    display: block;
    width: 40px;
    min-width: 40px;
    height: 25px;
    border: 1px solid #fff !important;
    background-color: rgba(161, 160, 160, 0.48);
    color: #fff;
    margin-right: 30px;
    margin-left: auto;
    margin-top: 70px;
    cursor:pointer;
}

.table-calendare {
    width: 100%;
}

.table-result {
    border-collapse: collapse;
    width: 100%;
    min-width: 700px;
}

.tr-style > th, .tr-style > td {
    font-weight: 300;
    text-align: center;
    line-height: 1.8em;
}

.tr-style > td:hover {
    background-color: #BCAAA4;
    color: #fff;
    cursor:pointer;
}


.create-application-operator {
    min-width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: #E57373;
    margin: 10px 50px 30px auto;
    box-shadow: 0px 6px 13px -7px #000000;
    outline: none;
}

.create-application-operator:hover,
.create-application-operator:focus,
.create-application-operator:active{
    background-color:#EF5350;
}

.create-application-operator i{
    color:#fff;
    font-size:17px;
}

.new-application {
    width: 100%;
    max-width: 570px;
    min-width: 300px;
    height: 500px;
    margin: 0 auto 30px auto;
    box-shadow: 0px 3px 18px -6px #000000;
    background-color: #fff;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.header-new-app {
    flex-grow: 0;
    color: #42A5F5;
    font-weight:400;
    line-height:32px;
}

.header-new-app span{
    margin-left:15px;
}

.body-history{
    flex-grow:1;
    position:relative;
    overflow-y:auto;
    overflow-x:hidden;
}

.body-new-app {
    height: calc(100% - 93px);
    overflow-y: auto;
    overflow-x: hidden;
}

.container-new-app{
    width:calc(100% - 30px);
    padding:5px;
    margin:5px auto;
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items:center;
}

.number-new-app{
    min-width:100px;
}

.descrip-new-app{
    flex-grow:1;
}

.list-history {
    width: 100%;
    position: absolute;
    top: 0;
}

.redirect-app {
    width: 100%;
    height: calc(100% - 93px);
    position: absolute;
    background-color: rgba(38, 50, 56, 0.85);
    top: 32px;
    right: -100%;
    text-align: center;
}

.btn-close-redirect-menu {
    min-width: 25px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.00);
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
    display: block;
    margin: 10px 20px 5px auto;
    outline:none;
}

.title-name-mobile {
    color: #fff;
    display: block;
    text-align: left;
    margin: 5px 20px;
}

.btn-redirect-tech {
    min-width: 160px;
    height: 30px;
    background-color: #2ECC71;
    color: #fff;
    border:none;
    border-radius:20px;
    margin:20px 0 0 0;
    outline:none;
}

.footer-new-app {
    flex-grow: 0;
    flex-basis: auto;
    flex-shrink: 0;
    padding: 10px;
    text-align: center;
}

.btn-action {
    width: 40px;
    min-width: 40px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: #fff;
    color: #64B5F6;
    font-size: 24px;
    margin: 0 10px;
}

.btn-action:active{
    background-color:#E0E0E0;
}

.item-history {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    width: calc(100% - 20px);
    max-width: 750px;
    min-width: 200px;
    border-bottom: 1px solid #B0BEC5;
    margin: 5px auto;
    padding-bottom:5px;
    justify-content:center;
    align-items:center;
}

.item-history > span{
    font-size:16px;
    margin:0 5px;
    overflow-wrap: break-word;
}

.data-history, .sender{
    min-width:100px;
}

.main-history {
    width: 100%;
    max-width: 750px;
    min-width: 300px;
    height: 80vh;
    min-height: 500pt;
    background-color: #fff;
    margin: 30px auto;
    box-shadow: 0px 3px 18px -6px #000000;
    display: flex;
    flex-direction: column;
}

.box-data-search{
    width:100%;
    max-width:100px;
    overflow-x:hidden;
    margin:0 auto;
}

.result-search {
    width: calc(100% - 30px);
    margin: 30px auto;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-grow: 1;
    position: relative;
}

.btn-history-tech {
    border: none !important;
    border-radius:20px;
    outline: none;
    width: 116px;
    background-color: #2ECC71;
    color: #fff;
    line-height: 35px;
    margin: 25px calc(50% - 50px) 25px;
    cursor:pointer;
}

.descript-history, .notice{
    width:100%;
}

.footer-history {
    flex-grow: 0;
    flex-basis: auto;
    flex-shrink: 0;
    text-align:center;
    padding:10px;
}

.main-map {
    width: 100%;
    max-width: 1200px;
    min-width: 300px;
    height: 80vh;
    min-height: 500pt;
    background-color: #fff;
    margin: 30px auto;
    box-shadow: 0px 3px 18px -6px #000000;
    display: flex;
    flex-direction: column;
}





/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1366px) {

}

@media screen and (max-width: 1366px) {
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .title-admin{
        display:none;
    }
}

@media screen and (max-width: 992px) {

    .header-operator{
        display:none;
    }

    .section-operator{
        display:none;
    }

    .title-admin {
        display: block;
        margin: 10% auto;
    }

    .mobile-img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-image: url(img/mobile.png);
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0 auto;
    }

    .mobile-warning-text {
        display: block;
        text-align: center;
        font-size: 24px;
    }

}






