﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/img/favicon/favicon.ico" type="image/x-icon">
    <title>ОВО ВНГ по г.Новочебоксарску</title>
    @Styles.Render("~/ContentAdmin/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="title-admin">

        <div class="mobile-img">



        </div>
        <span class="mobile-warning-text">Не поддерживается</span>

    </div>

    <div class="left-navbar">

        <div class="attic-navbar">



        </div>

        <div class="body-navbar">

            <ul class="menu-admin">

                <li>

                    <a href="/Admin/Index">

                        <i class="fa fa-home" aria-hidden="true"></i>

                    </a>

                </li>

                <li>

                    <a href="/Admin/Users">

                        <i class="fa fa-user" aria-hidden="true"></i>

                    </a>

                </li>

                <li>

                    <a href="/Admin/Firma">

                        <i class="fa fa-building-o" aria-hidden="true"></i>

                    </a>

                </li>

                <li>

                    <a href="/Admin/Street">

                        <i class="fa fa-street-view" aria-hidden="true"></i>

                    </a>

                </li>

                <li>

                    <a href="/Admin/Object">

                        <i class="fa fa-object-group" aria-hidden="true"></i>

                    </a>

                </li>

                <li>

                    <a href="/Admin/Network">

                        <i class="fa fa-sitemap" aria-hidden="true"></i>

                    </a>

                </li>

                <li>

                    <a href="/Admin/Settings">

                        <i class="fa fa-cog" aria-hidden="true"></i>

                    </a>

                </li>


            </ul>

        </div>

        <div class="footer-navbar">



        </div>

    </div>

    <div class="main">

        <header class="header-admin">

            <div class="box-header-admin">

                <div class="message-admin">

                    <a href="/Admin/Chat"><i class="fa fa-comment-o" aria-hidden="true"></i></a>

                    <span id="count-message-a" class="count-message-admin">+99</span>

                </div>

                <div class="name-admin">

                    <div class="box-name-a">

                        <span id="name-a">Иванов Иван Иванович</span>

                    </div>

                </div>

                <div class="img-admin">



                </div>

                <div class="output-admin">

                    <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></a>

                </div>

            </div>

        </header>

        <section class="section-admin">

            <div class="center-block-body-admin">


                @RenderBody()

            </div>

        </section>

    </div>


    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
