﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/img/favicon/favicon.ico" type="image/x-icon">
    <title>Личный кабинет</title>
    @Styles.Render("~/ContentLk/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <header class="header-lk">

        <div class="center-block-header-lk">

            <div class="block-left">

                <a href="/Lk/Chat">

                    <i class="fa fa-comment-o" aria-hidden="true"></i>

                </a>

                <div id="count-message-o" class="count-block-left">

                    <span>+9</span>

                </div>

            </div>

            <div class="block-left block-app">

                <a href="/Lk/Application">

                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>

                </a>

            </div>

            <div class="block-left block-bell">

                <i class="fa fa-bell-o" aria-hidden="true"></i>

                <div id="count-event-o" class="count-block-left">

                    <span>+9</span>

                </div>

                <div id="list-event" class="list-event-lk">

                    <div class="header-list-event-lk">



                    </div>

                    <div class="body-list-event-lk">

                        <div class="container-event">

                            <span>Ваша заявка №123 принятат системой и обраюабывается</span>

                        </div>

                        <div class="container-event">

                            <span>К Вам отправлен техник: ИвановскийХуевский И.И.</span>

                        </div>

                        <div class="container-event">

                            <span>К Вам отправлен техник: ИвановскийХуевский И.И.</span>

                        </div>

                        <div class="container-event">

                            <span>К Вам отправлен техник: ИвановскийХуевский И.И.</span>

                        </div>

                        <div class="container-event">

                            <span>К Вам отправлен техник: ИвановскийХуевский И.И.</span>

                        </div>

                        <div class="container-event">

                            <span>К Вам отправлен техник: ИвановскийХуевский И.И.</span>

                        </div>

                        <div class="container-event">

                            <span>К Вам отправлен техник: ИвановскийХуевский И.И.</span>

                        </div>

                    </div>

                    <div class="footer-list-event-lk"></div>

                </div>

            </div>

            <ul class="main-menu-lk">

                <li>

                    <a href="/Lk/Index">Главная</a>

                </li>

                <li>

                    <a href="/Lk/History">История</a>

                </li>

                <li>

                    <a href="/Lk/Profile">Профиль</a>

                </li>

            </ul>

            <div class="name-user-lk">

                <span id="name-lk">ИвановскийХуевский И.И.</span>

            </div>

            <div class="img-lk">



            </div>

            <div class="output">

                <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></a>

            </div>

        </div>

    </header>

    <header class="header-mobile-lk">

        <div class="i-header-mobile">

            <a href="/Lk/Index"><i class="fa fa-shield" aria-hidden="true"></i></a>

            <a href="/Lk/Application"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>

            <a href="/Lk/History"><i class="fa fa-history" aria-hidden="true"></i></a>

            <a href="/Lk/Profile"><i class="fa fa-wrench" aria-hidden="true"></i></a>

            <a href="/Lk/Chat"><i class="fa fa-comments-o" aria-hidden="true"></i></a>

        </div>

    </header>

    <section class="section-lk">

        <div class="center-block-body-lk">

            @RenderBody()

        </div>

    </section>


    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
