﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Content/img/favicon/favicon.ico" type="image/x-icon">
    <title>ОВО ВНГ по г.Новочебоксарску</title>
    @Styles.Render("~/ContentOperator/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="title-admin">

        <div class="mobile-img">



        </div>
        <span class="mobile-warning-text">Не поддерживается</span>

    </div>

    <header class="header-operator">

        <div class="center-block-header-operator">

            <button id="open-menu" class="button-o signal-msg">

                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>

            </button>

            <div class="bell">

                <i class="fa fa-bell" aria-hidden="true"></i>

            </div>

            <div class="message-operator">

                <i class="fa fa-comment" aria-hidden="true"></i>

                <div id="count-msg-o" class="count-message-operator">

                    <span class="number-message-operator">+9</span>

                </div>

            </div>

            <div class="name-operator">

                <div class="box-name-o">

                    <span id="name-o">Иванов Иван Иванович</span>

                </div>

            </div>

            <div class="img-operator">



            </div>

            <div class="output">

                <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></a>

            </div>

        </div>

    </header>

    <section class="section-operator">

        <div class="center-block-body-operator">

            <div id="nav-menu" class="nav-menu-operator">

                <button id="close-menu" class="button-o close-nav-menu-operator">

                    <i class="fa fa-times" aria-hidden="true"></i>

                </button>

                <ul class="main-menu-operator">

                    <li>
                        @Html.ActionLink("Главная", "Index", "Operator")
                    </li>

                    <li>
                        @Html.ActionLink("История", "History", "Operator")
                    </li>

                    <li>
                        @Html.ActionLink("Карта", "Map", "Operator")
                    </li>

                </ul>

            </div>

            <div class="column-contacts">

                <div class="header-column">

                    <button id="btn-up-list-tech" class="cursor-column"></button>

                </div>

                <div id="body-list-tech" class="body-column">

                    <div id="list-technics" class="list-contacts">

                        <div class="container-contacts">

                            <div class="row-icon">

                                <div id="" class="wrapper-img">

                                    <div class="count-message">

                                        <span>+99</span>

                                    </div>

                                    <div class="status-contact"></div>

                                </div>

                            </div>

                            <div class="row-fio">

                                <span id="">Брабожданский Б.Б. xwqdqwcqwwqcqwcwc cqwcwqc cwqcwqcwqcwq cwqcwqcwqcwqc</span>

                            </div>

                        </div>

                        <div class="container-contacts">

                            <div class="row-icon">

                                <div id="" class="wrapper-img">

                                    <div class="count-message">

                                        <span>+99</span>

                                    </div>

                                    <div class="status-contact"></div>

                                </div>

                            </div>

                            <div class="row-fio">

                                <span id="">Брабожданский Б.Б.</span>

                            </div>

                        </div>

                        <div class="container-contacts">

                            <div class="row-icon">

                                <div id="" class="wrapper-img">

                                    <div class="count-message">

                                        <span>+99</span>

                                    </div>

                                    <div class="status-contact"></div>

                                </div>

                            </div>

                            <div class="row-fio">

                                <span id="">Брабожданский Б.Б.</span>

                            </div>

                        </div>

                        <div class="container-contacts">

                            <div class="row-icon">

                                <div id="" class="wrapper-img">

                                    <div class="count-message">

                                        <span>+99</span>

                                    </div>

                                    <div class="status-contact"></div>

                                </div>

                            </div>

                            <div class="row-fio">

                                <span id="">Брабожданский Б.Б.</span>

                            </div>

                        </div>

                        <div class="container-contacts">

                            <div class="row-icon">

                                <div id="" class="wrapper-img">

                                    <div class="count-message">

                                        <span>+99</span>

                                    </div>

                                    <div class="status-contact"></div>

                                </div>

                            </div>

                            <div class="row-fio">

                                <span id="">Брабожданский Б.Б.</span>

                            </div>

                        </div>

                        <div class="container-contacts">

                            <div class="row-icon">

                                <div id="" class="wrapper-img">

                                    <div class="count-message">

                                        <span>+99</span>

                                    </div>

                                    <div class="status-contact"></div>

                                </div>

                            </div>

                            <div class="row-fio">

                                <span id="">Брабожданский Б.Б.</span>

                            </div>

                        </div>

                        <div class="container-contacts">

                            <div class="row-icon">

                                <div id="" class="wrapper-img">

                                    <div class="count-message">

                                        <span>+99</span>

                                    </div>

                                    <div class="status-contact"></div>

                                </div>

                            </div>

                            <div class="row-fio">

                                <span id="">Брабожданский Б.Б.</span>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="footer-column">

                    <button id="btn-down-list-tech" class="cursor-column"></button>

                </div>

            </div>

            <div id="box-message" class="box-for-write">

                <div class="box-write-header">

                    <button id="close-dialog" class="close-message"></button>

                </div>

                <div class="box-write-body">

                    <div class="list-message">

                        <div class="msg-style bubby-msg">

                            <span class="text-msg">Привет приятель как дела? Чего нового? чем сейчас занят?</span>
                            <span class="time-msg">2019.09.03 в 14:49</span>

                        </div>

                        <div class="msg-style user-msg">

                            <span class="text-msg">Здорова! Да так кручсь-верчусь. Да ничем не занят. Сам как?</span>
                            <span class="time-msg">2019.09.03 в 14:50</span>

                        </div>

                        <div class="msg-style bubby-msg">

                            <span class="text-msg">Да вот работу ищу</span>
                            <span class="time-msg">2019.09.03 в 14:51</span>

                        </div>

                        <div class="msg-style user-msg">

                            <span class="text-msg">?</span>
                            <span class="time-msg">2019.09.03 в 14:53</span>

                        </div>

                        <div class="msg-style user-msg">

                            <span class="text-msg">Совсем плохо? Работа-то есть? Или даже не приглашают на собеседование?</span>
                            <span class="time-msg">2019.09.03 в 14:53</span>
                        </div>

                    </div>

                </div>

                <div class="box-write-footer">

                    <div class="wrapper-textarea-msg">

                        <textarea rows="3" maxlength="512" autocomplete="off" id="message" class="" type="text"></textarea>

                    </div>

                    <button class="send-message">
                    </button>

                </div>

            </div>

            @RenderBody()

        </div>

    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/operator/master")
    @RenderSection("Scripts", required: false)
</body>
</html>
